.barcustom::-webkit-scrollbar {
    width: 10px;
}

.barcustom::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

.barcustom::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    border-radius: 10px;
}

html::-webkit-scrollbar {
     width: 0px;  /*pas de scrollbar */
}

/*********************************************************/
.main-tab > * > * > * > .v-tab {
    min-width: 40px;
    width: 40px;
    height: 40px !important;
}

.tab-action > * > * > * > .v-tab {
    min-width: 40px;
    width: 40px;
}

.main-container { 
    height: calc(100vh - 64px - 32px);
    width: 100%;
    display: grid; 
    grid-template-columns: 0px auto 250px;
    grid-template-rows: 100%; 
    }
 
/* container de l'Iframe */    
.main-item-2 {
    border: 1px solid #cecece;
    background-color: #c1c1c1;
    text-align: center;
}

#rootFrame { width:100%; height:100%; position:relative; border: 0px; padding: 0px; margin: 0px;}

.iframe-phone {
    width : 330px !important
}

.main-code {
    height: calc(100vh - 64px - 32px);
    width: 100%;
}

/***************************************************************/
pre, code {
    font-family: monospace, monospace;
}
pre {
    overflow: auto;
}
pre > code {
    display: block;
    padding: 1rem;
    word-wrap: normal;
    position: absolute;
    right: 0px;
    height: 100%;
    width: 100%;
    overflow: auto;
    color: black !important;
    white-space: unset !important;
    font-weight: unset !important;
}

/*************************************************************/
.xui-div-design {
    overflow-y: scroll; overflow-x: hidden; height: calc(100% + 48px - 35px);
}

.xui-btn-action {min-width:30px !important ;padding:0px !important;background-color: #ffffff00 !important;}

.xui-style-selector { 
    position: absolute; 
    padding: 5px;  
    z-index: 1000;
 /*  background: rgba(204, 205, 255, 0.40);*/
    transition: background .5s ease-in;
    border: 1px solid rgb(64, 37, 226);
    cursor : grab;
    box-shadow: 0px 0px 6px 3px rgb(204, 205, 255);
}

.xui-style-selector:hover { 
    border: 1px dashed rgb(64, 37, 226);  
  /*  box-shadow: unset; */
 /*   background: rgba(204, 205, 255, 0.10);*/
}

.xui-style-selector-margin
{ 
    position: absolute; 
    z-index: 999;
    border: 1px dashed rgb(255, 115, 0); 
}


.xui-style-prop {    
    background: #565656;
    height: 24px;
    color: white !important;
    padding: 0px 5px;
    cursor : pointer;
}

.xui-over-prop-xid {
    border:1px solid #dfdfdf;
}

.xui-over-prop-xid:hover {
    border:1px solid #2196f3;
    box-shadow: inset 0px 0px 6px 0px rgb(204, 205, 255);
}

.xui-frame-full-screen {
    position : fixed !important;
    top: 0px;
    left: 0px;
    z-index: 1000;
}

.xui-path-component
{
    font-size: 1rem;
}

.xui-editor-action-btn
{
    min-width: 20px !important;
    width: 20px;
    margin: 7px 0px 0px 0px;
}

/******************************************************************************/
.xui-list-cmp .v-list-item__icon {
    height: 24px !important;
    margin-top: 4px !important;
    margin-bottom: 0px !important;
}

.xui-list-cmp .v-list-item {
    min-height: 32px;
}
/*****************************************/
.xui-list-class .v-list-item--dense { 
    height: 30px;
    min-height: 25px; 
}

.xui-list-class .v-list-group__header { 
    height: 25px;
    min-height: 25px; 
    background: #f9f9f9;
    border: 1px solid #e8e8e8;
}

.xui-list-class .v-list-item__icon { 
    margin: 0px 6px 0px -10px !important;
}

/******************************************************************************/
.xui-textarea-editor {
    overflow: hidden;
    overflow-wrap: break-word;
    resize: none;
    height: 86px;
}