<xui-factory version="1.0">
    <xui-import xui-path="app/vue2frame.html"></xui-import>
    <xui-import xui-path="app/vue2CmpLayoutVuetify.html"></xui-import>
    <xui-import xui-path="app/vue2CmpLayout.html"></xui-import>
    <xui-import xui-path="app/vue2CmpVuetify.html"></xui-import>
    <xui-import xui-path="app/cmpDesignClassChooser.html"></xui-import>

    <frame-vuetify-1 xid="root"></frame-vuetify-1>

    <v-btn xid="xui-btn-small" small class="xui-btn-action"></v-btn>

    <xui-design xid="root">
        <xui-prop id="title" val="PWA Designer"></xui-prop>

        <xui-prop id="colorApp" val="#ff5900"></xui-prop>
        <!--#1d9da0 vert-->
        <xui-prop id="colorBg" val="white"></xui-prop>
        <xui-prop id="copyrightApp" val="Elisys 2020 v0.4.1 26/07/20"></xui-prop>

        <xui-prop id="withAppBar" val="true"></xui-prop>
        <xui-prop id="withLeftNavigation" val="true"></xui-prop>
        <xui-prop id="withFooter" val="true"></xui-prop>
        <xui-prop id="navTemporary" val="true"></xui-prop>
        <xui-prop id="darkApp" val="true"></xui-prop>
    </xui-design>

    <xui-design xid="maincontent">
        <xui-snackbar-dialog></xui-snackbar-dialog>
        <xui-popup-action></xui-popup-action>
    </xui-design>

    <xui-design xid="toolbar">
        <xui-prop id="headerHeight" val="32"></xui-prop>
    </xui-design>

    <xui-design xid="footer" style="padding-top: 2px;">
        <xui-prop id="footerHeight" val="32"></xui-prop>
    </xui-design>

    <xui-design xid="slot-toolbar-title">
        <span class="xui-path-component">{{selectedxui}}</span>
    </xui-design>

    <v-dialog xid="xui-class-editor" v-model="dialogClass" v-on:click:outside="$xui.closeClassEditor()"
        max-width="80vw">
        <v-card>
            <div class="white--text elevation-6"
                style="height:50px; background-image: linear-gradient(20deg, #484848, black);">
                <v-card-title>Gestion class & style</v-card-title>
            </div>
            <div style="height:65vh; overflow-y: scroll;">
                <cmp-list-class></cmp-list-class>
            </div>
            <v-card-actions class="elevation-6">
                <v-btn text @click="dialogClass=false;">Cancel</v-btn>
                <v-btn text @click="$xui.closeClassEditor(); dialogClass=false;">Save</v-btn>
            </v-card-actions>
        </v-card>
    </v-dialog>

    <v-snackbar xid="xui-snackbar-dialog" class="pt-0" elevation="12" v-model="snackbar" :timeout="snackbar_timeout" top app color="blue-grey">
        {{ snackbar_text }}
        <template v-slot:action="{ attrs }">
            <v-btn color="white" text v-bind="attrs" @click="snackbar = false">
                Close
            </v-btn>
        </template>
    </v-snackbar>

    <div xid="xui-popup-action" id="xui-display-selector-popup" 
        class="xui-popup-class"
        style="position:absolute;top:100px;left: 100px;"> 
        <v-list dense>
               <v-list-item v-for="(itemPopup, j) in listPopupAdd" :key="j" @click="$xui.doActionPopup(itemPopup)">
                    <v-list-item-icon>
                        <v-icon>{{itemPopup.icon}}</v-icon>
                    </v-list-item-icon>
                  <v-list-item-content>
                     <v-list-item-title>
                        <span>{{itemPopup.title}}</span>
                     </v-list-item-title>
                  </v-list-item-content>
               </v-list-item>
         </v-list>
    </div>

    <!--------------------------------------------------------------------------->
    <xui-design xid="main">
        <xui-tabs xid="main-tab" xui-nb="7" xui-vertical=true xui-dark=true v-model="activeTab" class="main-tab">
        </xui-tabs>

        <xui-class-editor></xui-class-editor>
    </xui-design>

    <xui-design xid="main-tab-tab-0">
        <v-icon>mdi-square-edit-outline</v-icon>
    </xui-design>
    <xui-design xid="main-tab-tab-1">
        <v-icon>mdi-code-tags</v-icon>
    </xui-design>
    <xui-design xid="main-tab-tab-2">
        <v-icon>mdi-api</v-icon>
    </xui-design>
    <xui-design xid="main-tab-tab-3">
        <v-icon>mdi-database</v-icon>
    </xui-design>
    <xui-design xid="main-tab-tab-4">
        <v-icon>mdi-apps</v-icon>
    </xui-design>
    <xui-design xid="main-tab-tab-5">
        <v-icon>mdi-image-multiple-outline</v-icon>
    </xui-design>
    <xui-design xid="main-tab-tab-6">
        <v-icon>mdi-border-inside</v-icon>
    </xui-design>

    <!--------------------------------------------------------------------------->
    <xui-design xid="main-tab-tab-item-0">
        <xui-tabs xid="tab-editor" class="tab-editor" xui-dark=true height="32px" xui-nb="3"></xui-tabs>
    </xui-design>

    <xui-design xid="tab-editor-tab-0">
        <v-icon style="font-size:18px">mdi-monitor-screenshot</v-icon>
        <span style='margin-left: 5px;'>Page</span>
    </xui-design>

    <xui-design xid="tab-editor-tab-item-0">
        <div class="main-container">
            <div class="main-item main-item-1"></div>
            <div class="main-item main-item-2">
                <iframe id='rootFrame'>
                </iframe>
            </div>
            <div class="main-item main-item-3">
                <v-overlay :value="saveLayout" style="height: 100%;position: relative;">
                    <v-btn>Save in progress</v-btn>
                </v-overlay>
                <design-action style="position: absolute; top: 0px;width: 250px;height: 100%;" xid="action-tab">
                </design-action>
            </div>
        </div>
    </xui-design>

    <xui-tabs xid="design-action" v-model="activeAction" xui-dark=true class="tab-action" height="35px" xui-nb="5">
    </xui-tabs>

    <!--------------------------------------------------------------------------->
    <xui-design xid="tab-editor-tab-1">
        <v-icon>mdi-palette</v-icon><span>Style</span>
    </xui-design>
    <xui-design xid="tab-editor-tab-item-1">
        <div>Coming soon...</div>
    </xui-design>
    <!--------------------------------------------------------------------------->

    <xui-design xid="main-tab-tab-item-1">
        <xui-tabs xid="tab-code" class="tab-code" xui-dark=true height="32px" xui-nb="3"></xui-tabs>
    </xui-design>

    <!--------------------------------------------------------------------------->
    <xui-design xid="tab-code-tab-0"><span> Html </span></xui-design>
    <xui-design xid="tab-code-tab-item-0">
        <div class="main-code">
            <pre>
                <code id="xui-code-html" spellcheck="false"></code>
            </pre>
        </div>
    </xui-design>

    <xui-design xid="tab-code-tab-1"><span>XUI</span></xui-design>
    <xui-design xid="tab-code-tab-item-1">
        <div class="main-code">
            <pre>
                <code id="xui-code-xui" spellcheck="false"></code>
            </pre>
        </div>
    </xui-design>

    <xui-design xid="tab-code-tab-2"><span>JSON</span></xui-design>
    <xui-design xid="tab-code-tab-item-2">
        <div class="main-code">
            <pre>
                <code id="xui-code-json" spellcheck="false"></code>
            </pre>
        </div>
    </xui-design>

    <!--------------------------------------------------------------------------->

    <xui-design xid="main-tab-tab-item-2">
        <div id="editorContent">
            <vue-editor v-model="contentEditor"></vue-editor>
        </div>

        <div id="resultContent">
            <div v-html="contentEditor"></div>
        </div>
    </xui-design>

    <!--------------------------------------------------------------------------->
    <xui-design xid="action-tab-tab-0">
        <v-icon>mdi-layers-triple</v-icon>
    </xui-design>
    <xui-design xid="action-tab-tab-1">
        <v-icon>mdi-palette-swatch</v-icon>
    </xui-design>
    <xui-design xid="action-tab-tab-2">
        <v-icon>mdi-database-import</v-icon>
    </xui-design>
    <xui-design xid="action-tab-tab-3">
        <v-icon>mdi-plus-box-multiple</v-icon>
    </xui-design>
    <xui-design xid="action-tab-tab-4">
        <v-icon>mdi-file-tree</v-icon>
    </xui-design>

    <xui-design xid="action-tab-tab-item-0">
        <div id="AppPropertiesSetting"></div>
    </xui-design>
    <xui-design xid="action-tab-tab-item-1">
        <div>Extended Style coming soon...</div>
    </xui-design>
    <xui-design xid="action-tab-tab-item-2">
        <div>Data binding coming soon...</div>
    </xui-design>
    <xui-design xid="action-tab-tab-item-3">
        <div id="AppComponents"></div>
    </xui-design>
    <xui-design xid="action-tab-tab-item-4">
        <div>TreeView coming soon...</div>.
    </xui-design>

    <!--------------------------------------------------------------------------->
    <xui-design xid="slot-action-header">
        <xui-btn-small @click="$xui.fullScreen()">
            <v-icon>mdi-fullScreen</v-icon>
        </xui-btn-small>
        <xui-btn-small @click="$xui.modePreview()">
            <v-icon>mdi-television-play</v-icon>
        </xui-btn-small>
        <xui-btn-small @click="$xui.modePhone()">
            <v-icon>mdi-monitor-cellphone</v-icon>
        </xui-btn-small>
        <span style="width:20px"></span>
        <xui-btn-small @click="$xui.refreshAction('template:reload')">
            <v-icon>mdi-refresh</v-icon>
        </xui-btn-small>
    </xui-design>

    <!--------------------------------------------------------------------------->
    <xui-design xid="slot-footer">
        <xui-btn-small @click="$xui.deleteCmp()">
            <v-icon>mdi-delete</v-icon>
        </xui-btn-small>
        <xui-btn-small @click="$xui.cutCmp()">
            <v-icon>mdi-content-cut</v-icon>
        </xui-btn-small>
        <xui-btn-small @click="$xui.copyCmp()">
            <v-icon>mdi-content-copy</v-icon>
        </xui-btn-small>
        <xui-btn-small @click="$xui.pasteTo()" :disabled="pasteDisabled">
            <v-icon>mdi-content-paste</v-icon>
        </xui-btn-small>

        <span style="width:20px"></span>

        <xui-btn-small @click="$xui.undo()" :disabled="undoDisabled">
            <v-icon>mdi-undo</v-icon>
        </xui-btn-small>
        <xui-btn-small @click="$xui.redo()" :disabled="redoDisabled">
            <v-icon>mdi-redo</v-icon>
        </xui-btn-small>

        <span style="width:50px"></span>

        <xui-btn-small>
            <v-icon>mdi-cog</v-icon>
        </xui-btn-small>
        <xui-btn-small>
            <v-icon>mdi-note-multiple</v-icon>
        </xui-btn-small>
        <xui-btn-small @click="$xui.clearAll">
            <v-icon>mdi-new-box</v-icon>
        </xui-btn-small>

        <span style="width:50px"></span>

        <xui-btn-small @click="$xui.refreshAction('final')">
            <v-icon>mdi-autorenew</v-icon>
        </xui-btn-small>
        <v-spacer></v-spacer>
        <span>&amp;copy;&amp;nbsp;[[copyrightApp@0+]]</span>
    </xui-design>

    <!--------------------------------------------------------------------------->
    <xui-design xid="xui-script-data">
        <script xui-no-dom>
            // empty js
        </script>
    </xui-design>

    <xui-design xid="xui-init-vuetify">
        $xui.initVuejs($xui.vuejs);
    </xui-design>

    <xui-design xid="inject-other-header">
        <link href="https://cdn.jsdelivr.net/npm/prismjs@1.19.0/themes/prism.css" rel="stylesheet" />
        <link href="app/frameDesigner.css" type="text/css" rel="stylesheet" />
    </xui-design>

    <xui-design xid="inject-after-body">
        <script defer src="app/frameDesigner.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/prismjs@1.19.0/prism.min.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/prismjs@1.19.0/components/prism-json.min.js"></script>
        <script defer src="https://unpkg.com/region2d@1.0.0/plain/region2d.min.js"></script>
        <script defer src="libxui.dart.js"></script>
        <script defer src="app/frameDesignerWatch.js"></script>
        <script defer src="app/frameDesignerData.js"></script>
        <script defer src="https://cdn.jsdelivr.net/npm/vue2-editor@2.6.6/dist/vue2-editor.min.js"></script>

        <!-- <script defer src="//cdn.jsdelivr.net/npm/faunadb@latest/dist/faunadb-min.js"></script> -->
        <!-- <script>
                 setTimeout( ()=> {
                    q = faunadb.query;
                    var client = new faunadb.Client({ secret: 'fnADgqwCPfACAEWJ2wy7Kb5jrUIN5aa4t93DOl1a' });

                    client.query(
                    q.Get(q.Ref(q.Collection('Filexui'), '252953488011559426'))
                    )
                    .then((ret) => console.log(ret))


                    client.query(
                    q.Create(
                        q.Collection('Filexui'),
                        { data: { id: 2, html:"super" } },
                    )
                    )
                    .then((ret) => console.log(ret))

                    client.query(
                        q.Get(
                            q.Match(q.Index('all_filexui'))
                        )
                        )
                        .then((ret) => console.log(ret))

                 }, 2000)
 
        </script> -->
    </xui-design>

</xui-factory>