<html style="height:100%;">
   <head>
      <meta charset="utf-8"></meta>
      <title>PWA Designer</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover"></meta>
      <meta name="mobile-web-app-capable" content="yes"></meta>
      <meta name="apple-mobile-web-app-capable" content="yes"></meta>
      <link rel="preconnect" href="https://cdn.jsdelivr.net"></link>
      <link rel="dns-prefetch" href="https://cdn.jsdelivr.net"></link>
      <link rel="preconnect" href="fonts.googleapis.com"></link>
      <link rel="dns-prefetch" href="fonts.googleapis.com"></link>
      <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/spinkit@2.0.1/spinkit.min.css"></link>
      <link rel="preload" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'"></link>
      <link rel="preload" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" as="style" onload="this.onload=null;this.rel='stylesheet'"></link>
      <link rel="preload" href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'"></link>
      <link rel="preload" href="https://cdn.jsdelivr.net/npm/animate.css@4.1.1/animate.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'"></link>
      <link rel="preload" href="./app/vue/vue2frame.css" as="style" onload="this.onload=null;this.rel='stylesheet'"></link>
      <script defer src="https://cdn.jsdelivr.net/npm/vue"></script>
      <script defer src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.js"></script>
      <script defer src="./app/vue/vuexHelper.js"></script>
      <link rel="preload" href="https://cdn.jsdelivr.net/npm/prismjs@1.19.0/themes/prism.css" as="style" onload="this.onload=null;this.rel='stylesheet'"></link>
      <link rel="preload" href="app/frameDesigner.css" as="style" onload="this.onload=null;this.rel='stylesheet'"></link>
   </head>
   <body style="height:100%;">
      <div id="app">
         <div class="sk-plane" style="margin: 40vh auto"></div>
      </div>
      <template id="xui-root-template">
         <transition :duration="600" name="xui-class-transition" :enter-active-class="main.animationNameEnter" :leave-active-class="main.animationNameExit">
            <router-view ref="routermain"></router-view>
         </transition>
      </template>
      <template id="page-0">
         <v-app style="width:100vw">
            <template id="page-0-route-0">
               <v-container fluid fill-height align-start pa-0>
                  <v-tabs class="fill-height main-tab xui-tabs  tabs-dense" vertical dark v-model="main.activeTab">
                     <v-tab>
                        <v-icon>mdi-square-edit-outline</v-icon>
                     </v-tab>
                     <v-tab-item eager>
                        <v-tabs class="fill-height xui-tabs" height="35px" style="--xui-tab-h:35px;" dark>
                           <v-tab>
                              <v-icon style="font-size:18px">mdi-monitor-screenshot</v-icon>
                              <span style="margin-left: 5px;">Page {{main.frameName}}</span>
                           </v-tab>
                           <v-tab-item eager>
                              <div class="main-container fill-height">
                                 <div class="main-item main-item-0">
                                    <v-toolbar height="38" dark>
                                       <v-radio-group v-model="main.jsonEditorDataSrc" row class="pt-6">
                                          <div class="v-radio">
                                             <v-radio label="Initial" value="template"></v-radio>
                                          </div>
                                          <div class="v-radio">
                                             <v-radio label="Mock" value="mock"></v-radio>
                                          </div>
                                       </v-radio-group>
                                       <v-spacer></v-spacer>
                                       <div class="pt-6">
                                          <div>
                                             <v-switch dense label="route enable" v-model="main.routeEnable"></v-switch>
                                          </div>
                                       </div>
                                    </v-toolbar>
                                 </div>
                                 <div class="main-item main-item-1"></div>
                                 <div class="main-item main-item-2">
                                    <iframe id="rootFrame"></iframe>
                                 </div>
                                 <div class="main-item main-item-3">
                                    <v-overlay :value="main.saveLayout" style="height: 100%;position: relative;">
                                       <v-btn>Save in progress</v-btn>
                                    </v-overlay>
                                    <v-tabs class="xui-action-tab fill-height xui-tabs  tabs-dense" height="35px" style="--xui-tab-h:35px;" dark v-model="main.activeAction">
                                       <v-tab>
                                          <v-icon>mdi-layers-triple</v-icon>
                                       </v-tab>
                                       <v-tab-item eager>
                                          <div id="AppPropertiesSetting"></div>
                                       </v-tab-item>
                                       <v-tab>
                                          <v-icon>mdi-palette-swatch</v-icon>
                                       </v-tab>
                                       <v-tab-item eager>
                                          <div id="AppPropertiesStyle"></div>
                                       </v-tab-item>
                                       <v-tab>
                                          <v-icon>mdi-lightning-bolt</v-icon>
                                       </v-tab>
                                       <v-tab-item eager>
                                          <div id="AppPropertiesEvent"></div>
                                       </v-tab-item>
                                       <v-tab>
                                          <v-icon>mdi-database-import</v-icon>
                                       </v-tab>
                                       <v-tab-item eager>
                                          <div id="AppPropertiesBinding"></div>
                                       </v-tab-item>
                                       <v-tab>
                                          <v-icon>mdi-plus-box-multiple</v-icon>
                                       </v-tab>
                                       <v-tab-item eager>
                                          <div id="AppComponents"></div>
                                       </v-tab-item>
                                       <v-tab>
                                          <v-icon>mdi-file-tree</v-icon>
                                       </v-tab>
                                       <v-tab-item eager>
                                          <div id="treeCmp" class="barcustom xui-div-scroll-vertical">
                                             <v-treeview dense transition :open-all="main.expandAll" ref="treeCmp" hoverable return-object activatable :items="main.listSlot" :active.sync="main.activeSlot" :open.sync="main.openSlot" @update:active="$xui.selectCmp()">
                                                <template v-slot:prepend="{ item }">
                                                   <v-icon>
                      {{item.icon}}
                    </v-icon>
                                                </template>
                                             </v-treeview>
                                          </div>
                                       </v-tab-item>
                                       <v-tab>
                                          <v-icon>mdi-chevron-right-box</v-icon>
                                       </v-tab>
                                       <v-tab-item eager>
                                          <div>CLI coming soon...</div>
                                       </v-tab-item>
                                    </v-tabs>
                                 </div>
                              </div>
                           </v-tab-item>
                           <v-tab>
                              <v-icon>mdi-palette</v-icon>
                              <span>Style</span>
                           </v-tab>
                           <v-tab-item eager>
                              <div>Coming soon...</div>
                           </v-tab-item>
                           <v-tab>
                           </v-tab>
                           <v-tab-item eager>
                           </v-tab-item>
                        </v-tabs>
                     </v-tab-item>
                     <v-tab>
                        <v-icon>mdi-database</v-icon>
                     </v-tab>
                     <v-tab-item eager>
                        <v-tabs class="xui-tabs fill-height" dark height="32px" style="--xui-tab-h:32px;">
                           <v-tab>
                              <v-icon>mdi-view-module</v-icon>
                              <span class="ml-3">Module main</span>
                           </v-tab>
                           <v-tab-item eager>
                              <v-tabs class="xui-tabs fill-height" height="32px" style="--xui-tab-h:32px;">
                                 <v-tab>
                                    <v-icon>mdi-database</v-icon>
                                    <span class="ml-3">State</span>
                                 </v-tab>
                                 <v-tab-item eager>
                                    <v-row style="height:40px" no-gutters>
                                       <v-col cols="12">
                                          <v-radio-group row v-model="main.jsonEditorDataSrc" class="ml-4 mt-1">
                                             <div class="v-radio"></div>
                                             <v-radio label="Initial" value="template"></v-radio>
                                             <div style="width:42vw"></div>
                                             <div class="v-radio">
                                                <v-radio label="Mock" value="mock"></v-radio>
                                             </div>
                                          </v-radio-group>
                                       </v-col>
                                    </v-row>
                                    <v-row style="height:calc(100% - 40px)" no-gutters>
                                       <v-col cols="6" id="jsonState">
                                          <v-jsoneditor ref="jsonEditor" v-model="main.jsonEditorData" :options="main.jsonEditorOptions" :plus="false" height="100%"></v-jsoneditor>
                                       </v-col>
                                       <v-col cols="6">
                                          <v-jsoneditor style="height: calc(100% - 25px);" ref="jsonEditor2" v-model="main.jsonEditorDataMock" :options="main.jsonEditorOptionsCode" :plus="false" height="100%"></v-jsoneditor>
                                       </v-col>
                                    </v-row>
                                 </v-tab-item>
                                 <v-tab>
                                    <v-icon>mdi-state-machine</v-icon>
                                    <span class="ml-3">ACTION</span>
                                 </v-tab>
                                 <v-tab-item eager>
                                    <v-row class="fill-height" no-gutters>
                                       <v-col cols="3">
                                          <v-list class="fill-height elevation-2" subheader dense>
                                             <v-list-item-group>
                                                <template v-for="(ListActions_item, ListActions_index) in main.ListActions">
                                                   <div class="mx-1 mt-1">
                                                      <v-btn class="rounded-lg  text-capitalize" style="width:100%" rounded>
                                                         <v-icon left>mdi-flash</v-icon>
                                                         <span>{{ListActions_item.id}}</span>
                                                      </v-btn>
                                                   </div>
                                                </template>
                                             </v-list-item-group>
                                          </v-list>
                                       </v-col>
                                       <v-col>
                                          <div class="fill-height">
                                             <pre>
                                                <code id="xui-code-js" spellcheck></code>
                                             </pre>
                                          </div>
                                       </v-col>
                                    </v-row>
                                 </v-tab-item>
                                 <v-tab>
                                    <v-icon>mdi-database-import</v-icon>
                                    <span class="ml-3">MUTATION</span>
                                 </v-tab>
                                 <v-tab-item eager></v-tab-item>
                                 <v-tab>
                                    <v-icon>mdi-calculator-variant</v-icon>
                                    <span class="ml-3">GETTER</span>
                                 </v-tab>
                                 <v-tab-item eager></v-tab-item>
                                 <v-tab>
                                    <v-icon>mdi-head-cog-outline</v-icon>
                                    <span class="ml-3">PROCESS</span>
                                 </v-tab>
                                 <v-tab-item eager></v-tab-item>
                              </v-tabs>
                           </v-tab-item>
                        </v-tabs>
                     </v-tab-item>
                     <v-tab>
                        <v-icon>mdi-code-tags</v-icon>
                     </v-tab>
                     <v-tab-item eager>
                        <v-row class="mx-3 mt-2 mb-1" no-gutters>
                           <v-col cols="1">
                              <v-btn @click="$xui.downloadPage()" rounded>
                                 <v-icon left>mdi-download</v-icon>
                                 <span>export</span>
                              </v-btn>
                           </v-col>
                           <v-col cols="1">
                           </v-col>
                           <v-col cols="4">
                              <v-file-input @change="$xui.importPage($event)" small-chips truncate-length="15" dense hide-details label="import file"></v-file-input>
                           </v-col>
                           <v-col>
                           </v-col>
                        </v-row>
                        <v-tabs ref="test" style="height:calc(100% - 49px);--xui-tab-h:35px;" class="tab-code fill-height xui-tabs" height="35px" dark>
                           <v-tab>
                              <span> Html </span>
                           </v-tab>
                           <v-tab-item eager>
                              <div class="fill-height">
                                 <pre>
                                    <code id="xui-code-html" spellcheck></code>
                                 </pre>
                              </div>
                           </v-tab-item>
                           <v-tab>
                              <span>XUI</span>
                           </v-tab>
                           <v-tab-item eager>
                              <div class="fill-height">
                                 <pre>
                                    <code id="xui-code-xui" spellcheck></code>
                                 </pre>
                              </div>
                           </v-tab-item>
                           <v-tab>
                              <span>JSON</span>
                           </v-tab>
                           <v-tab-item eager>
                              <div class="fill-height">
                                 <pre>
                                    <code id="xui-code-json" spellcheck></code>
                                 </pre>
                              </div>
                           </v-tab-item>
                        </v-tabs>
                     </v-tab-item>
                     <v-tab>
                        <v-icon>mdi-api</v-icon>
                     </v-tab>
                     <v-tab-item eager>
                        <div id="editorContent">
                           <vue-editor v-model="main.contentEditor"></vue-editor>
                        </div>
                        <div id="resultContent">
                           <div v-html="main.contentEditor"></div>
                        </div>
                     </v-tab-item>
                     <v-tab>
                        <v-icon>mdi-apps</v-icon>
                     </v-tab>
                     <v-tab-item eager>
                     </v-tab-item>
                     <v-tab>
                        <v-icon>mdi-image-multiple-outline</v-icon>
                     </v-tab>
                     <v-tab-item eager>
                     </v-tab-item>
                     <v-tab>
                        <v-icon>mdi-border-inside</v-icon>
                     </v-tab>
                     <v-tab-item eager>
                        <div class="ma-10" id="qrcode">QRCode PWA</div>
                     </v-tab-item>
                  </v-tabs>
               </v-container>
            </template>
            <v-overlay z-index="6" opacity="0.7" :value="main.overlay">
               <div style="width: 100%;height: 100%;z-index:1" @click="$xui.modePreview()"></div>
            </v-overlay>
            <v-snackbar ref="snack" class="pt-0" elevation="12" v-model="main.snackbar" :timeout="main.snackbar_timeout" top app color="blue-grey">

        {{ main.snackbar_text }}
                       <template v-slot:action="{ attrs }">
                  <v-btn color="white" text v-bind="attrs" @click="main.snackbar = false">
                Close
            </v-btn>
               </template>
            </v-snackbar>
            <div id="xui-display-selector-popup" class="xui-popup-class" style="position:absolute;top:100px;left: 100px;">
               <v-list dense>
                  <v-list-item v-for="(itemPopup, j) in main.listPopupAdd" :key="j" @click="$xui.doActionPopup(itemPopup)">
                     <v-list-item-icon>
                        <v-icon>{{itemPopup.icon}}</v-icon>
                     </v-list-item-icon>
                     <v-list-item-content>
                        <v-list-item-title>
                           <span>{{itemPopup.title}}</span>
                        </v-list-item-title>
                     </v-list-item-content>
                  </v-list-item>
               </v-list>
            </div>
            <v-dialog v-model="main.dialogClass" v-on:click:outside="$xui.saveClassEditor()" max-width="80vw">
               <v-card>
                  <div class="white--text elevation-6" style="height:50px; background-image: linear-gradient(20deg, #484848, black);">
                     <v-card-title>Class & style</v-card-title>
                  </div>
                  <div style="height:65vh; overflow-y: scroll;">
                     <cmp-list-class></cmp-list-class>
                  </div>
                  <v-card-actions class="elevation-6">
                     <v-btn text @click="main.dialogClass=false;">Cancel</v-btn>
                     <v-btn text @click="$xui.saveClassEditor(); main.dialogClass=false;">Save</v-btn>
                  </v-card-actions>
               </v-card>
            </v-dialog>
            <v-dialog ref="dialogBind" v-model="main.dialogBinding" v-on:click:outside="$xui.saveBindingEditor()" max-width="80vw">
               <v-card>
                  <div class="white--text elevation-6" style="height:50px; background-image: linear-gradient(20deg, #484848, black);">
                     <v-card-title>Binding & watch</v-card-title>
                  </div>
                  <div style="height:65vh; overflow-y: scroll;">
                     <cmp-bind-editor ref="jsonEditorBindingCont" :options-editor="main.jsonEditorOptions"></cmp-bind-editor>
                  </div>
                  <v-card-actions class="elevation-6">
                     <v-btn text @click="main.dialogBinding=false;">Cancel</v-btn>
                     <v-btn text @click="$xui.saveBindingEditor(); main.dialogBinding=false;">Save</v-btn>
                  </v-card-actions>
               </v-card>
            </v-dialog>
            <div style="position:absolute; bottom:0px ;width: 100%;">
               <v-snackbar style="position:relative; height:60px" v-for="(item, index) in main.messages" :key="index" v-model="item.snackbar" :timeout="item.timeout">
                {{ item.text }}
            </v-snackbar>
            </div>
            <v-app-bar app dark height="32" color="#ff5900">
               <v-app-bar-nav-icon @click.stop="main.isNavdrawerOpen = !main.isNavdrawerOpen"></v-app-bar-nav-icon>
               <v-toolbar-title>
                  <span class="xui-path-component">{{main.selectedxui}}</span>
               </v-toolbar-title>
               <v-spacer></v-spacer>
               <v-btn @click="$xui.fullScreen()" small class="xui-btn-action">
                  <v-icon>mdi-fullscreen</v-icon>
               </v-btn>
               <v-btn @click="$xui.modePhone()" small class="xui-btn-action">
                  <v-icon>mdi-monitor-cellphone</v-icon>
               </v-btn>
               <span style="width:20px"></span>
               <v-btn @click="$xui.refreshAction('template:reload')" small class="xui-btn-action">
                  <v-icon>mdi-refresh</v-icon>
               </v-btn>
               <span style="width:20px"></span>
               <v-btn @click="$xui.modePreview()" small class="xui-btn-action">
                  <v-icon>mdi-television-play</v-icon>
               </v-btn>
               <v-btn @click="$xui.sendInTab()" small class="xui-btn-action">
                  <v-icon>mdi-application-export</v-icon>
               </v-btn>
            </v-app-bar>
            <v-navigation-drawer v-model="main.isNavdrawerOpen" temporary app>
            </v-navigation-drawer>
            <v-main>
               <transition :duration="600" name="xui-class-transition" :enter-active-class="main.animationNameEnter" :leave-active-class="main.animationNameExit">
                  <router-view ref="routerview"></router-view>
               </transition>
            </v-main>
            <v-footer style="padding-top: 1px;;" app height="32" dark color="#ff5900">
               <v-btn @click="$xui.deleteCmp()" small class="xui-btn-action">
                  <v-icon>mdi-delete</v-icon>
               </v-btn>
               <v-btn @click="$xui.cutCmp()" small class="xui-btn-action">
                  <v-icon>mdi-content-cut</v-icon>
               </v-btn>
               <v-btn @click="$xui.copyCmp()" small class="xui-btn-action">
                  <v-icon>mdi-content-copy</v-icon>
               </v-btn>
               <v-btn @click="$xui.pasteTo()" :disabled="main.pasteDisabled" small class="xui-btn-action">
                  <v-icon>mdi-content-paste</v-icon>
               </v-btn>
               <span style="width:20px"></span>
               <v-btn @click="$xui.undo()" :disabled="main.undoDisabled" small class="xui-btn-action">
                  <v-icon>mdi-undo</v-icon>
               </v-btn>
               <v-btn @click="$xui.redo()" :disabled="main.redoDisabled" small class="xui-btn-action">
                  <v-icon>mdi-redo</v-icon>
               </v-btn>
               <span style="width:50px"></span>
               <v-btn small class="xui-btn-action">
                  <v-icon>mdi-cog</v-icon>
               </v-btn>
               <v-btn small class="xui-btn-action">
                  <v-icon>mdi-note-multiple</v-icon>
               </v-btn>
               <v-btn @click="$xui.clearAll" small class="xui-btn-action">
                  <v-icon>mdi-new-box</v-icon>
               </v-btn>
               <span style="width:50px"></span>
               <v-btn @click="$xui.refreshAction('final')" small class="xui-btn-action">
                  <v-icon>mdi-autorenew</v-icon>
               </v-btn>
               <span style="width:50px"></span>
               <v-btn @click="$xui.deploy()" small class="xui-btn-action">
                  <v-icon>mdi-database-export-outline</v-icon>
               </v-btn>
               <v-spacer></v-spacer>
               <span>&copy;&nbsp;Elisys 2021 v0.7.6 26/10/2021</span>
            </v-footer>
         </v-app>
      </template>
   </body>
   <script>
			
			$xui = {};
			$xui.rootdata = {};
			// ----------------------------------------------
			$xui.initComponentVuejs = [];  // liste des function de creation de cmp vuejs à appeler
	
            // empty js
        

            var listDesignClass = [
                {
                    title: "style & elevation",
                    icon: "mdi-image-size-select-large",
                    open: true,
                    nb: "0",
                    listClass: [
                        { sel: false, type: 'check', text: 'fill height', value: 'fill-height' },
                        { sel: false, type: 'check', text: 'overflow scroll', value: 'xui-overflow' },
                        { sel: false, type: 'divider' },
                        { sel: false, text: 'elevation', value: 'elevation', type: 'list', vl: '1', list: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24'] },
                        {
                            sel: false, text: 'backgound color', value: '', type: 'list', vl: '1', list: [
                                "red",
                                "pink",
                                "purple",
                                "deep-purple",
                                "indigo",
                                "blue",
                                "light-blue",
                                "cyan",
                                "teal",
                                "green",
                                "light-green",
                                "lime",
                                "yellow",
                                "amber",
                                "orange",
                                "deep-orange",
                                "brown",
                                "blue-grey",
                                "grey", "black", "white", "transparent"]
                        },
                        {
                            sel: false, text: 'color variant', value: '', type: 'list', vl: '1', list:
                                ["lighten-5", "lighten-4", "lighten-3", "lighten-2", "lighten-1",
                                    "darken-1", "darken-2", "darken-3", "darken-4",
                                    "accent-1", "accent-2", "accent-3", "accent-4"]
                        },
                    ]
                },
                {
                    title: "Border radius",
                    icon: "mdi-alpha-b-circle-outline",
                    open: false,
                    nb: "0",
                    listClass: [                        
                        {
                            sel: false, text: 'radius top right', value: 'rounded-tr', type: 'list', vl: '1', list: [
                            '0',
                            'sm',
                            'md',
                            'lg',
                            'xl',
                            'pill',
                            'circle',
                              ]
                        },
                        {
                            sel: false, text: 'radius top left', value: 'rounded-tl', type: 'list', vl: '1', list: [
                            '0',
                            'sm',
                            'md',
                            'lg',
                            'xl',
                            'pill',
                            'circle',
                              ]
                        },
                        {
                            sel: false, text: 'radius bottom right', value: 'rounded-br', type: 'list', vl: '1', list: [
                            '0',
                            'sm',
                            'md',
                            'lg',
                            'xl',
                            'pill',
                            'circle',
                              ]
                        },
                        {
                            sel: false, text: 'radius bottom left', value: 'rounded-bl', type: 'list', vl: '1', list: [
                            '0',
                            'sm',
                            'md',
                            'lg',
                            'xl',
                            'pill',
                            'circle',
                              ]
                        },
                        { sel: false, type: 'divider' },
                        {
                            sel: false, text: 'radius top side', value: 'rounded-t', type: 'list', vl: '1', list: [
                            '0',
                            'sm',
                            'md',
                            'lg',
                            'xl',
                            'pill',
                            'circle',
                              ]
                        },
                        {
                            sel: false, text: 'radius bottom side', value: 'rounded-b', type: 'list', vl: '1', list: [
                            '0',
                            'sm',
                            'md',
                            'lg',
                            'xl',
                            'pill',
                            'circle',
                              ]
                        },
                        {
                            sel: false, text: 'radius right side', value: 'rounded-r', type: 'list', vl: '1', list: [
                            '0',
                            'sm',
                            'md',
                            'lg',
                            'xl',
                            'pill',
                            'circle',
                              ]
                        },
                        {
                            sel: false, text: 'radius left side', value: 'rounded-l', type: 'list', vl: '1', list: [
                            '0',
                            'sm',
                            'md',
                            'lg',
                            'xl',
                            'pill',
                            'circle',
                              ]
                        },
                        { sel: false, type: 'divider' },
                        {
                            sel: false, text: 'radius all corner', value: 'rounded', type: 'list', vl: '1', list: [
                            '0',
                            'sm',
                            'md',
                            'lg',
                            'xl',
                            'pill',
                            'circle',
                              ]
                        },
                      ],
                },
                {
                    title: "Margin",
                    icon: "mdi-image-filter-none",
                    open: false,
                    nb: "0",
                    listClass: [
                        { sel: false, text: 'all', value: 'ma', type: 'list', vl: '0', list: ['auto', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', 'n1', 'n2', 'n3', 'n4', 'n5', 'n6', 'n7', 'n8', 'n9', 'n10', 'n11', 'n12'] },
                        { sel: false, text: 'x', value: 'mx', type: 'list', vl: '0', list: ['auto', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', 'n1', 'n2', 'n3', 'n4', 'n5', 'n6', 'n7', 'n8', 'n9', 'n10', 'n11', 'n12'] },
                        { sel: false, text: 'y', value: 'my', type: 'list', vl: '0', list: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', 'n1', 'n2', 'n3', 'n4', 'n5', 'n6', 'n7', 'n8', 'n9', 'n10', 'n11', 'n12'] },
                        { sel: false, text: 'top', value: 'mt', type: 'list', vl: '0', list: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', 'n1', 'n2', 'n3', 'n4', 'n5', 'n6', 'n7', 'n8', 'n9', 'n10', 'n11', 'n12'] },
                        { sel: false, text: 'bottom', value: 'mb', type: 'list', vl: '0', list: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', 'n1', 'n2', 'n3', 'n4', 'n5', 'n6', 'n7', 'n8', 'n9', 'n10', 'n11', 'n12'] },
                        { sel: false, text: 'left', value: 'ml', type: 'list', vl: '0', list: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', 'n1', 'n2', 'n3', 'n4', 'n5', 'n6', 'n7', 'n8', 'n9', 'n10', 'n11', 'n12'] },
                        { sel: false, text: 'right', value: 'mr', type: 'list', vl: '0', list: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', 'n1', 'n2', 'n3', 'n4', 'n5', 'n6', 'n7', 'n8', 'n9', 'n10', 'n11', 'n12'] },
                    ],
                },
                {
                    title: "Padding",
                    icon: "mdi-checkbox-intermediate",
                    open: false,
                    nb: "0",
                    listClass: [
                        { sel: false, text: 'all', value: 'pa', type: 'list', vl: '1', list: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'] },
                        { sel: false, text: 'x', value: 'px', type: 'list', vl: '1', list: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'] },
                        { sel: false, text: 'y', value: 'py', type: 'list', vl: '1', list: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'] },
                        { sel: false, text: 'top', value: 'pt', type: 'list', vl: '1', list: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'] },
                        { sel: false, text: 'bottom', value: 'pb', type: 'list', vl: '1', list: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'] },
                        { sel: false, text: 'left', value: 'pl', type: 'list', vl: '1', list: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'] },
                        { sel: false, text: 'right', value: 'pr', type: 'list', vl: '1', list: ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'] },
                    ],
                },
                {
                    title: "Text style",
                    icon: "mdi-format-text",
                    open: false,
                    nb: "0",
                    listClass: [
                        {
                            sel: false, text: 'color', value: '', type: 'list', vl: '1', list: [
                                "red--text",
                                "pink--text",
                                "purple--text",
                                "deep-purple--text",
                                "indigo--text",
                                "blue--text",
                                "light-blue--text",
                                "cyan--text",
                                "teal--text",
                                "green--text",
                                "light-green--text",
                                "lime--text",
                                "yellow--text",
                                "amber--text",
                                "orange--text",
                                "deep-orange--text",
                                "brown--text",
                                "blue-grey--text",
                                "grey--text",
                                "black--text", "white--text",]
                        },
                        {
                            sel: false, text: 'color variant', value: 'text-', type: 'list', vl: '1', list:
                                ["lighten-5", "lighten-4", "lighten-3", "lighten-2", "lighten-1",
                                    "darken-1", "darken-2", "darken-3", "darken-4",
                                    "accent-1", "accent-2", "accent-3", "accent-4"]
                        },
                        {
                            sel: false, text: 'opacity', value: 'text-', type: 'list', vl: '1', list:
                                ['primary', 'secondary', 'disabled'],
                        },
                        { sel: false, type: 'divider' },
                        {
                            sel: false, text: 'size', value: 'text', type: 'list', vl: '1', list:
                                ['h1', 'h2', 'h3', 'h4', 'h5', 'h6',
                                    'subtitle-1', 'subtitle-2', 'body-1', 'body-2', 'button', 'caption', 'overline']
                        },
                        {
                            sel: false, text: 'Style', value: '', type: 'list', vl: '1', list:
                                ['font-regular', 'font-italic']
                        },
                        {
                            sel: false, text: 'decoration', value: 'text', type: 'list', vl: '1', list:
                                ['decoration-none', 'decoration-overline', 'decoration-underline', 'decoration-line-through']
                        },
                        {
                            sel: false, text: 'weight', value: '', type: 'list', vl: '1', list:
                                ['font-weight-light', 'font-weight-thin', 'font-weight-regular', 'font-weight-medium', 'font-weight-bold', 'font-weight-black']
                        },

                        { sel: false, type: 'divider' },
                        {
                            sel: false, text: 'alignment', value: '', type: 'list', vl: '1', list:
                                ['text-left', 'text-center', 'text-right', 'text-justify'],
                        },
                        { sel: false, type: 'divider' },
                        { sel: false, type: 'check', text: 'text no wrap', value: 'text-no-wrap' },
                        { sel: false, type: 'check', text: 'text truncate (...)', value: 'text-truncate' },
                        { sel: false, type: 'check', text: 'text lowercase', value: 'text-lowercase' },
                        { sel: false, type: 'check', text: 'text uppercase', value: 'text-uppercase' },
                        { sel: false, type: 'check', text: 'text capitalize', value: 'text-capitalize' }
                    ],
                },
            ];

            var json = {
                dialogClass: false,
                listCatClass: listDesignClass
            };
            $xui.rootdata = { ...$xui.rootdata, ...json };

            $xui.initComponentVuejs.push(() => {
                new vue2CmpMgr.ComponentManager().registerVueComponent("cmp-list-class", 'app/cmpDesignClassChooser.html', "xui-list-class");
            }
            );

            /***************************************************************************************************************/
            $xui.openClassEditor = (id) => {
                $xui.editorOpenId = id;

                $xui.modeDisplaySelection = false;
                $xui.rootdata.dialogClass = true;

                for (const aProperty of $xui.propertiesDesign.json) {
                    if (aProperty.cat == "class" && aProperty.xid == $xui.editorOpenId) {
                        console.debug("load class", aProperty);
                        new DesignClassManager().initClassSelector(aProperty.value, $xui.rootdata.listCatClass);
                    }
                }
            }

            $xui.saveClassEditor = () => {

                for (const aProperty of $xui.propertiesDesign.json) {
                    if (aProperty.cat == "class" && aProperty.xid == $xui.editorOpenId) {
                        console.debug("save class", aProperty);
                        aProperty.value = new DesignClassManager().getClassTextFromSeletor(aProperty.value, $xui.rootdata.listCatClass);
                        $xui.hasPropertiesChanged = true;
                        $xui.SelectorManager.displaySelectorByXid($xui.propertiesDesign.xid, $xui.propertiesDesign.xidSlot);
                    }
                }
            }
        
            var json = {
                dialogBinding: false,
                nameBinding: "name",
                variableBinding: "var"
            };
            $xui.rootdata = { ...$xui.rootdata, ...json };

            $xui.initComponentVuejs.push(() => {
                new vue2CmpMgr.ComponentManager().registerVueComponent("cmp-bind-editor", 'app/cmpDesignBindEditor.html', "xui-bind-editor");
            }
            );

            /********************************************************* */
            $xui.openBindingEditor = (xid, propId) => {
                $xui.editorOpenId = xid;
                $xui.editorPropId = propId;

                $xui.modeDisplaySelection = false;
                $xui.rootdata.dialogBinding = true;

                setTimeout(() => {
                    $xui.vuejs.$refs.root.$refs.routermain.$refs.jsonEditorBindingCont.$refs.jsonEditorBinding.editor.set($xui.rootdata.jsonEditorData)
                    console.debug("open Binding Editor", xid, propId);
                }, 100);


     
                for (const aProperty of $xui.propertiesDesign.json) {
                    if (aProperty.variable == $xui.editorPropId && aProperty.xid == $xui.editorOpenId) {
                        console.debug("load binding", aProperty);
                        $xui.rootdata.nameBinding = aProperty.label;
                        $xui.rootdata.variableBinding = aProperty.bind;
                    }
                }
            }

            $xui.saveBindingEditor = () => {
                console.debug("save binding", $xui.editorOpenId, $xui.editorPropId);

                for (const aProperty of $xui.propertiesDesign.json) {
                    if (aProperty.variable == $xui.editorPropId && aProperty.xid == $xui.editorOpenId) {
                        aProperty.bind = $xui.rootdata.variableBinding;
                        $xui.hasPropertiesChanged = true;
                        console.debug("save binding ok", aProperty, $xui.rootdata);
                    }
                }
            };
           </script>
   <script>
 // ------ ici le store vuex dynamique ---------;
        globalThis.initialiseAppState = () => {
        const modulesManager = new VuexModuleManager();

        const main = modulesManager.addModule("main", {
            "isNavdrawerOpen": false
         , ...$xui.rootdata });

        main.actions={}
        modulesManager.setStore(new Vuex.Store({
                modules : {
                        main,
                },
                plugins : [$xui.logger],
                strict : true
        }));

        return modulesManager;
        }
   </script>
   <style id="xui-style">

            .xui-grid-layout {
                display: grid;
                width: 100%;
            }
        
            .xui-column {
                max-width: 100% !important;
            }
        
            .xui-grid {
                max-width: unset;
            }
        
            .xui-form-gutter>.col,
            .xui-form-gutter>[class*=col-] {
                padding: 5px 6px;
            }

            .xui-form .v-text-field input {
                line-height: 14px;
                font-size: 0.9rem;
            }
        
            .xui-session {
                display: block;
            }
        
            .xui-class-slot-full {
                height: 100%;
                width: 100%;
            }
           </style>
   <script defer src="app/clsHelper.js"></script>
   <script defer src="app/clsFileSaver.js"></script>
   <script defer src="app/frameDesignerError.js"></script>
   <script defer src="app/frameDesigner.js"></script>
   <script defer src="app/frameDesignerProp.js"></script>
   <script defer src="app/frameDesignerAction.js"></script>
   <script defer src="https://cdn.jsdelivr.net/npm/v-jsoneditor@1.4.2/dist/v-jsoneditor.min.js"></script>
   <script defer src="https://cdn.jsdelivr.net/npm/prismjs@1.19.0/prism.min.js"></script>
   <script defer src="https://cdn.jsdelivr.net/npm/prismjs@1.19.0/components/prism-json.min.js"></script>
   <script defer src="https://unpkg.com/region2d@1.0.0/plain/region2d.min.js"></script>
   <script defer src="libxui.dart.js"></script>
   <script defer src="app/frameDesignerWatch.js"></script>
   <script defer src="app/frameDesignerData.js"></script>
   <script defer src="https://cdn.jsdelivr.net/npm/vue2-editor@2.6.6/dist/vue2-editor.min.js"></script>
   <script defer src="https://cdn.jsdelivr.net/npm/faunadb@latest/dist/faunadb-min.js"></script>
   <script defer src="https://cdn.jsdelivr.net/npm/qrcode-js-package@1.0.4/qrcode.min.js"></script>
   <script type="module">
		import "./app/vue/vue2frame.js";
		$xui.loadApplicationJS();
	
        $xui.initVuejs($xui.vuejs);
    </script>
</html>
