<xui-factory version="1.0">

    <!--------------------------  XUI-TITRE   ---------------------------->
    <xui-doc xid="xui-title-1">
        <xui-prop id="name">Title</xui-prop>
        <xui-prop id="icon">mdi-format-title</xui-prop>
        <xui-prop id="desc">Un titre simple</xui-prop>
        <xui-prop id="componentAs">text</xui-prop>

        <xui-prop var="text" editor="text">texte</xui-prop>
        <xui-prop var="class" cat="class" editor="class">class</xui-prop>
        <xui-prop var="style" cat="style" editor="style">style</xui-prop>
    </xui-doc>

    <span xid="xui-title-1" class="[[class]]" -style="[[style]]">[[text@1]]</span>
    <!--span xid="xui-title-1" class="[[class]]" -style="[[style]]" xui-mode="final;preview">[[text@1]]</span>
    <span xid="xui-title-1" class="[[class]]" -style="[[style]]" xui-mode="design;template" contenteditable="true"
        @blur="$xui.updateDirectPropBlur()"
        @focus="$xui.updateDirectPropInnerText($event, 'text', '[[xid]]', true)"
        @input="$xui.updateDirectPropInnerText($event, 'text', '[[xid]]')" 
        >[[text@1]]</span-->

    <!--------------------------  XUI-TEXT   ---------------------------->
    <xui-doc xid="xui-text-1">
        <xui-prop id="name">Text simple</xui-prop>
        <xui-prop id="icon">mdi-text</xui-prop>
        <xui-prop id="desc">Un text simple</xui-prop>
        <xui-prop id="componentAs">text</xui-prop>

        <xui-prop var="text" editor="text">texte</xui-prop>
        <xui-prop var="class" cat="class" editor="class">class</xui-prop>
        <xui-prop var="style" cat="style" editor="style">style</xui-prop>
    </xui-doc>

    <div xid="xui-text-1" class="[[class]]" 
        -style="white-space: pre-line;[[style]]" 
        xui-mode="final;preview">[[text@1]]</div>
    <div xid="xui-text-1" contenteditable="true" @blur="$xui.updateDirectPropBlur()"
        @focus="$xui.updateDirectPropInnerText($event, 'text', '[[xid]]', true)"
        @input="$xui.updateDirectPropInnerText($event, 'text', '[[xid]]')" class="[[class]]"
        -style="white-space: pre-line;[[style]]" xui-mode="design;template">[[text@1]]</div>

    <!--------------------------  XUI-TEXTFIELD-1   ---------------------------->
    <xui-doc xid="xui-textfield-1">
        <xui-prop id="name">Text Field</xui-prop>
        <xui-prop id="icon">mdi-form-textbox</xui-prop>
        <xui-prop id="desc">Un champs de saisie</xui-prop>
        <xui-prop id="componentAs">input</xui-prop>

        <xui-prop var="label" def="label" editor="text">label</xui-prop>
        <xui-prop var="value" cat="data" editor="text">value</xui-prop>
        <xui-prop var="dense" def="true" editor="bool">dense</xui-prop>
        <xui-prop var="hide-detail" def="true" editor="bool">Hide detail</xui-prop>
        <xui-prop var="single-line" editor="bool">single line (label does not move)</xui-prop>

        <xui-prop var="type" editor="combo" list='["solo","filled","outlined"]'>type solo/filled/outlined</xui-prop>

        <xui-prop var="flat" editor="bool">flat</xui-prop>
        <xui-prop var="rounded" editor="bool">rounded</xui-prop>

        <xui-prop var="background-color" cat="style" editor="text">background color</xui-prop>

        <xui-prop var="class" cat="class" editor="class">class</xui-prop>
        <xui-prop var="style" cat="style" editor="style">style</xui-prop>
    </xui-doc>

    <v-text-field xid="xui-textfield-1" class="[[class]]" -style="[[style]]" [[type]] dense="[[dense]]" flat="[[flat]]"
        rounded="[[rounded]]" single-line="[[single-line]]" hide-details="[[hide-detail]]"
        background-color="[[background-color]]" value="[[value]]" label="[[label]]"></v-text-field>

    <!--------------------------  XUI-INPUTFILE-1   ---------------------------->
    <xui-doc xid="xui-fileinput-1">
        <xui-prop id="name">Input File</xui-prop>
        <xui-prop id="icon">mdi-form-textbox</xui-prop>
        <xui-prop id="desc">Un champs de saisie</xui-prop>
        <xui-prop id="componentAs">input</xui-prop>

        <xui-prop var="label" def="label" editor="text">label</xui-prop>
        <xui-prop var="value" cat="data" editor="text">value</xui-prop>
        <xui-prop var="dense" def="true" editor="bool">dense</xui-prop>
        <xui-prop var="hide-detail" def="true" editor="bool">Hide detail</xui-prop>

        <xui-prop var="type" editor="combo" list='["solo","filled","outlined"]'>type solo/filled/outlined</xui-prop>

        <xui-prop var="flat" editor="bool">flat</xui-prop>
        <xui-prop var="rounded" editor="bool">rounded</xui-prop>

        <xui-prop var="background-color" cat="style" editor="text">background color</xui-prop>

        <xui-prop var="@change" cat="event:elem" editor="text">Change</xui-prop> 

        <xui-prop var="class" cat="class" editor="class">class</xui-prop>
        <xui-prop var="style" cat="style" editor="style">style</xui-prop>
    </xui-doc>


    <v-file-input xid="xui-fileinput-1" small-chips truncate-length="15" class="[[class]]"
        -style="[[style]]" [[type]] dense="[[dense]]" flat="[[flat]]" rounded="[[rounded]]"
        hide-details="[[hide-detail]]" background-color="[[background-color]]" [[event]] value="[[value]]" label="[[label]]">
    </v-file-input>

    <!--------------------------  XUI-RADIO-GROUP-1   ---------------------------->
    <xui-doc xid="xui-radio-group-1">
        <xui-prop id="name">Radio Group</xui-prop>
        <xui-prop id="icon">mdi-group</xui-prop>
        <xui-prop id="desc">Radio Group</xui-prop>
        <xui-prop id="componentAs">Group</xui-prop>
        <xui-prop var=":radioGroup" editor="var" def="groupChoise">var name</xui-prop>
        <xui-prop var="row" editor="bool">Displays in row</xui-prop>
        <xui-prop var="class" cat="class" editor="class">class</xui-prop>
        <xui-prop var="style" cat="style" editor="style">style</xui-prop>
    </xui-doc>

    <v-radio-group xid="xui-radio-group-1" v-model="[[:radioGroup]]" row="[[row]]" class="[[class]]" -style="[[style]]">
        <xui-slot style-slot="height:100%" xid="[[parent-xid]]-rg" xui-slot-name="Group slot" xui-doc-id="d">
        </xui-slot>
    </v-radio-group>

    <!--------------------------  XUI-RADIO-1   ---------------------------->
    <xui-doc xid="xui-radio-1">
        <xui-prop id="name">Radio</xui-prop>
        <xui-prop id="icon">mdi-radiobox-marked</xui-prop>
        <xui-prop id="desc">Radio</xui-prop>
        <xui-prop id="componentAs">input</xui-prop>
        <xui-prop var="label" editor="text">label</xui-prop>
        <xui-prop var="value" editor="text">value</xui-prop>
    </xui-doc>

    <div xid="xui-radio-1" style="display: inline-block">
        <v-radio label="[[label@1]]" value="[[value@1]]"></v-radio>
    </div>
    <!--v-radio xid="xui-radio-1" label="[[label]]" value="[[value]]"></v-radio-->

    <!--------------------------  XUI-SWITCH-1   ---------------------------->
    <xui-doc xid="xui-switch-1">
        <xui-prop id="name">switch</xui-prop>
        <xui-prop id="icon">mdi-toggle-switch</xui-prop>
        <xui-prop id="desc">switch</xui-prop>
        <xui-prop id="componentAs">input</xui-prop>
        <xui-prop var="label" editor="text">label</xui-prop>
        <xui-prop var="value" editor="bool">value</xui-prop>
        <xui-prop var="dense" editor="bool">dense</xui-prop>
    </xui-doc>

    <div xid="xui-switch-1" style="display: inline-block">
        <v-switch label="[[label@1]]" dense=[[dense@1]] value="[[value@1]]"></v-switch>
    </div>
    <!--v-switch xid="xui-switch-1"  dense=[[dense]] label="[[label]]" value="[[value]]"></v-switch-->
 


    <!--------------------------  XUI-BTN-1  ---------------------------->
    <xui-doc xid="xui-btn-1">
        <xui-prop id="name">Button</xui-prop>
        <xui-prop id="icon">mdi-gesture-tap-button</xui-prop>
        <xui-prop id="desc">Un bouton</xui-prop>
        <xui-prop id="componentAs">action</xui-prop>

        <xui-prop var="label" editor="text">label</xui-prop>
        <xui-prop var="btn-type" editor="combo" 
            list='["depressed","outlined","rounded","text","tile","icon","fab"]'
        >type depressed/outlined/...</xui-prop>
        <xui-prop var="color" cat="style" editor="text">bgcolor</xui-prop>
        <xui-prop var="dark" cat="style" editor="bool">on dark</xui-prop>
        <xui-prop var="light" cat="style" editor="bool">on light</xui-prop>
        <xui-prop var="size" editor="combo" list='["large","small","x-small","x-large"]'>size</xui-prop>
        <xui-prop var="disabled" cat="style" editor="bool">disabled</xui-prop>
        <xui-prop var="position" editor="combo" list='["block","absolute","fixed"]'>position</xui-prop>
        <xui-prop var="class" cat="class" editor="class">class</xui-prop>
        <xui-prop var="style" cat="style" editor="style">style</xui-prop>

        <xui-prop var="routeto" cat="event:route" editor="text">route to (/ ; /route1; /page1/route1)</xui-prop>
        <xui-prop var="@click" cat="event:elem" editor="text">Click</xui-prop> 
        <xui-prop var="@dblclick" cat="event:elem" editor="text">Double click</xui-prop>
        <xui-prop var="@contextmenu" cat="event:elem" editor="text">Right click</xui-prop>
        <xui-prop var="directive" cat="event:directive" editor="text">directive</xui-prop>
    </xui-doc>

    <v-btn xid="xui-btn-1" class="[[class]]" -style="[[style]]" [[directive]] [[btn-type]] [[position]] disabled="[[disabled]]"
        [[size]] [[event]] to="[[routeto]]" color="[[color]]" dark="[[dark]]" light="[[light]]">[[label@1]]</v-btn>

    <!--------------------------  XUI-BTN-ICON-1   ---------------------------->
    <xui-doc xid="xui-btn-icon-1">
        <xui-prop id="name">Button Icon</xui-prop>
        <xui-prop id="icon">mdi-gesture-tap-button</xui-prop>
        <xui-prop id="desc">Un bouton Icon</xui-prop>
        <xui-prop id="componentAs">action</xui-prop>

        <xui-prop var="btn-type" def="icon" editor="combo"
            list='["depressed","outlined","rounded","text","tile","icon","fab", "nr"]'>type depressed/outlined/...</xui-prop>

        <xui-prop var="icon" def="mdi-plus" editor="icon">icon (mdi-xxx)</xui-prop>
        <xui-prop var="color" cat="vstyle" editor="text">color</xui-prop>
        <xui-prop var="dark" cat="vstyle" editor="bool">on dark</xui-prop>
        <xui-prop var="light" cat="vstyle" editor="bool">on light</xui-prop>

        <xui-prop var="size" cat="vstyle" editor="combo" list='["large","small","x-small","x-large"]'>size</xui-prop>

        <xui-prop var="disabled" cat="style" editor="bool">disabled</xui-prop>

        <xui-prop var="textleft" editor="text">text left</xui-prop>
        <xui-prop var="textright" editor="text">text right</xui-prop>
        <xui-prop var="positionicon" editor="combo" list='["left","right"]'>marge text left/right</xui-prop>

        <xui-prop var="routeto" cat="event:route" editor="text">route to (/ ; /route1; /page1/route1)</xui-prop>
        <xui-prop var="@click" cat="event:elem" editor="text">Click</xui-prop> 
        <xui-prop var="@dblclick" cat="event:elem" editor="text">Double click</xui-prop>
        <xui-prop var="@contextmenu" cat="event:elem" editor="text">Right click</xui-prop>
        <xui-prop var="directive" cat="event:directive" editor="text">directive</xui-prop>
        
        <xui-prop var="class" cat="class" editor="class">class</xui-prop>
        <xui-prop var="style" cat="style" editor="style">style</xui-prop>
    </xui-doc>

    <v-btn xid="xui-btn-icon-1" to="[[routeto]]" [[directive]] [[event]] class="[[class]]" -style="[[style]]" [[btn-type]]
        disabled="[[disabled]]" [[size]] color="[[color]]" dark="[[dark]]" light="[[light]]">
        <span xui-if=[[textleft@2]]>[[textleft@2]]</span>
        <v-icon [[positionicon@1]]>[[icon@2]]</v-icon><span xui-if=[[textright@2]]>[[textright@2]]</span>
    </v-btn>

    <!--------------------------  XUI-BTN-ICON-SLOT   ---------------------------->
    <xui-doc xid="xui-btn-icon-slot-1">
        <xui-prop id="name">Button Slot</xui-prop>
        <xui-prop id="icon">mdi-gesture-tap-button</xui-prop>
        <xui-prop id="desc">Un bouton Icon</xui-prop>
        <xui-prop id="componentAs">action</xui-prop>

        <xui-prop var="btn-type" def="icon" editor="combo"
            list='["depressed","outlined","rounded","text","tile","icon","fab", "nr"]'>type depressed/outlined/...</xui-prop>

        <xui-prop var="color" cat="vstyle" editor="text">color</xui-prop>
        <xui-prop var="dark" cat="vstyle" editor="bool">on dark</xui-prop>
        <xui-prop var="light" cat="vstyle" editor="bool">on light</xui-prop>

        <xui-prop var="size" cat="vstyle" editor="combo" list='["large","small","x-small","x-large"]'>size</xui-prop>

        <xui-prop var="disabled" cat="style" editor="bool">disabled</xui-prop>

        <xui-prop var="routeto" cat="event:route" editor="text">route to (/ ; /route1; /page1/route1)</xui-prop>
        <xui-prop var="@click" cat="event:elem" editor="text">Click</xui-prop> 
        <xui-prop var="@dblclick" cat="event:elem" editor="text">Double click</xui-prop>
        <xui-prop var="@contextmenu" cat="event:elem" editor="text">Right click</xui-prop>
        <xui-prop var="directive" cat="event:directive" editor="text">directive</xui-prop>
        
        <xui-prop var="class" cat="class" editor="class">class</xui-prop>
        <xui-prop var="style" cat="style" editor="style">style</xui-prop>
    </xui-doc>

    <v-btn xid="xui-btn-icon-slot-1" to="[[routeto]]" [[directive]] [[event]] class="[[class]]" -style="[[style]]" [[btn-type]]
        disabled="[[disabled]]" [[size]] color="[[color]]" dark="[[dark]]" light="[[light]]">
        <xui-slot xid="[[parent-xid]]-slot" xui-slot-name="btn slot" xui-doc-id="btnslot"></xui-slot>
    </v-btn>

    <!--------------------------  XUI-BTN-ICON-2   ---------------------------->
    <xui-doc xid="xui-btn-icon-2">
        <xui-prop id="name">Button Float Icon</xui-prop>
        <xui-prop id="icon">mdi-gesture-tap-button</xui-prop>
        <xui-prop id="desc">Un bouton Icon</xui-prop>
        <xui-prop id="componentAs">action</xui-prop>

        <xui-prop var="btn-type" def="fab" editor="combo"
            list='["depressed","outlined","rounded","text","tile","icon","fab"]'>type depressed/outlined/...</xui-prop>

        <xui-prop var="icon" def="mdi-plus" editor="icon">icon (mdi-xxx)</xui-prop>
        <xui-prop var="color" cat="style" editor="text">color</xui-prop>
        <xui-prop var="dark" cat="style" editor="bool">on dark</xui-prop>
        <xui-prop var="light" cat="style" editor="bool">on light</xui-prop>

        <xui-prop var="size" editor="combo" list='["large","small","x-small","x-large"]'>size</xui-prop>

        <xui-prop var="disabled" cat="style" editor="bool">disabled</xui-prop>

        <xui-prop var="textleft" editor="text">text left</xui-prop>
        <xui-prop var="textright" editor="text">text right</xui-prop>
        <xui-prop var="positionicon" editor="combo" list='["left","right"]'>icon marge left/right</xui-prop>

        <xui-prop var="position" editor="combo" def="absolute" list='["static","block","absolute","fixed"]'>position</xui-prop>
        <xui-prop var="leftright" editor="combo" def="left" list='["left","right"]'>left/right</xui-prop>
        <xui-prop var="topbottom" editor="combo" def="bottom" list='["top","bottom"]'>top/bottom</xui-prop>

        <xui-prop var="directive" cat="event:directive" editor="text">directive</xui-prop>
        <xui-prop var="class" cat="class" editor="class">class</xui-prop>
        <xui-prop var="style" cat="style" def="z-index:100;  bottom:0px" editor="style">style</xui-prop>

        <xui-prop var="routeto" cat="event:route" editor="text">route to (/ ; /route1; /page1/route1)</xui-prop>
        <xui-prop var="@click" cat="event:elem" editor="text">Click</xui-prop> 
        <xui-prop var="@dblclick" cat="event:elem" editor="text">Double click</xui-prop>
        <xui-prop var="@contextmenu" cat="event:elem" editor="text">Right click</xui-prop>
    </xui-doc>

    <v-btn xid="xui-btn-icon-2" [[directive]] class="[[class]]" -style="[[style]]" [[btn-type]] disabled="[[disabled]]" [[size]]
        [[position]] [[leftright]] [[topbottom]] color="[[color]]" dark="[[dark]]" light="[[light]]" [[event]] to="[[routeto]]">
        <span xui-if=[[textleft@1]]>[[textleft@2]]</span>
        <v-icon [[positionicon@1]]>[[icon@2]]</v-icon><span xui-if=[[textright@1]]>[[textright@2]]</span>
    </v-btn>


    <!--------------------------  XUI-BADGE-1   ---------------------------->
    <xui-doc xid="xui-badge-1">
        <xui-prop id="name">badge</xui-prop>
        <xui-prop id="desc">Un badge</xui-prop>
        <xui-prop var="color" cat="style" editor="text">color</xui-prop>
        <xui-prop var="d-flex" editor="bool">flex</xui-prop>
        <xui-prop var="content" editor="text">content</xui-prop>
        <xui-prop var=":value" editor="text" cat="event:bind">value (show)</xui-prop>
    </xui-doc>

    <v-badge xid="xui-badge-1" class="[[d-flex]]" overlap content="[[content]]" color="[[color]]" :value=[[:value]]>
        <xui-slot xid="[[parent-xid]]-col-0" xui-slot-name="slot badge"></xui-slot>
    </v-badge>

    <!--------------------------  XUI-ICON-1   ---------------------------->
    <xui-doc xid="xui-icon-1">
        <xui-prop id="name">Icon</xui-prop>
        <xui-prop id="icon">mdi-numeric-1-circle-outline</xui-prop>
        <xui-prop id="desc">Un Icon</xui-prop>
        <xui-prop id="componentAs">action</xui-prop>

        <xui-prop var="icon" editor="icon" def="mdi-web">icon id (mdi-xxx)</xui-prop>
        <xui-prop var="color" cat="style" editor="text">icon color</xui-prop>
        <xui-prop var="size" editor="combo" list='["dense","large","small","x-small","x-large"]'>size</xui-prop>
        <xui-prop var="sizeCustom" cat="style" editor="text">custom size (px,rem)</xui-prop>
        <xui-prop var="dark" cat="style" editor="bool">on dark</xui-prop>
        <xui-prop var="light" cat="style" editor="bool">on light</xui-prop>

        <xui-prop var="class" cat="class" editor="class">class</xui-prop>
        <xui-prop var="style" cat="style" editor="style">style</xui-prop>
    </xui-doc>

    <v-icon xid="xui-icon-1" [[size]] class="[[class]]" -style="[[style]]" size="[[sizeCustom]]" color="[[color]]"
        dark="[[dark]]" light="[[light]]">[[icon@1]]</v-icon>

    <!--------------------------  XUI-IMAGE-1   ---------------------------->
    <xui-doc xid="xui-image-1">
        <xui-prop id="name">Image</xui-prop>
        <xui-prop id="icon">mdi-image</xui-prop>
        <xui-prop id="desc">Une image</xui-prop>
        <xui-prop id="componentAs">background</xui-prop>

        <xui-prop var="url" editor="image">image url</xui-prop>
        <xui-prop var="contain" editor="bool">contain</xui-prop>
        <xui-prop var="aspect-ratio" editor="text">aspect ratio (16/9)</xui-prop>
        <xui-prop var="withSlot" editor="bool">with Slot</xui-prop>
        <xui-prop var="transition" editor="text">transition (fade-transition, false)</xui-prop>
        <xui-prop var="eager" editor="bool">eager</xui-prop>

        <xui-prop var="class" cat="class" editor="class">class</xui-prop>
        <xui-prop var="style" cat="style" editor="style">style</xui-prop>
        <xui-prop var="directive" cat="event:directive" editor="text">directive</xui-prop>
    </xui-doc>


    <xui-doc xid="v-img:xui-image-1">
        <xui-prop id="name">Image Slot</xui-prop>
        <xui-prop id="desc">Image Slot</xui-prop>
    </xui-doc>


    <v-img xid="xui-image-1" :aspect-ratio="[[aspect-ratio]]" transition=[[transition]] contain=[[contain]] class="[[class]]" -style="[[style]]"
        src="[[url]]" [[directive]] eager="[[eager]]">
        <xui-slot xui-if=[[withSlot@1]] xui-slot-full xid="[[parent-xid]]-image-content" xui-slot-name="Image content">
        </xui-slot>
    </v-img>

    <!--------------------------  XUI-SUBHEADER   ---------------------------->
    <xui-doc xid="xui-subheader-1">
        <xui-prop id="name">Subheader</xui-prop>
        <xui-prop id="icon">mdi-text</xui-prop>
        <xui-prop id="desc">Un Subheader</xui-prop>
        <xui-prop id="componentAs">text</xui-prop>

        <xui-prop var="text" editor="text">texte</xui-prop>
        <xui-prop var="class" cat="class" editor="class">class</xui-prop>
        <xui-prop var="style" cat="style" editor="style">style</xui-prop>
    </xui-doc>

    <v-subheader xid="xui-subheader-1" class="[[class]]" -style="white-space: pre-wrap;[[style]]"
        xui-mode="final;preview">[[text@1]]</v-subheader>
    <v-subheader xid="xui-subheader-1" contenteditable="true" @blur="$xui.updateDirectPropBlur()"
        @focus="$xui.updateDirectPropInnerText($event, 'text', '[[xid]]', true)"
        @input="$xui.updateDirectPropInnerText($event, 'text', '[[xid]]')" class="[[class]]"
        -style="white-space: pre-wrap;[[style]]" xui-mode="design;template">[[text@1]]</v-subheader>

    <!--------------------------  XUI-DIVIDER-1   ---------------------------->
    <xui-doc xid="xui-divider-1">
        <xui-prop id="name">Divider</xui-prop>
        <xui-prop id="icon">mdi-minus</xui-prop>
        <xui-prop id="desc">Une séparation</xui-prop>
        <xui-prop id="componentAs">divider</xui-prop>

        <xui-prop var="vertical" def="false" editor="bool">vertical</xui-prop>
        <xui-prop var="inset" def="false" editor="bool">inset</xui-prop>

        <xui-prop var="class" cat="class" editor="class">class</xui-prop>
        <xui-prop var="style" cat="style" editor="style">style</xui-prop>
    </xui-doc>

    <xui-design xui-mode="template;design" xid="inject-style">
        <style xui-no-dom>
            .xui-divider {
                min-height: 3px;
                min-width: 3px;
            }
        </style>
    </xui-design>

    <v-divider xid="xui-divider-1" class="xui-divider [[class]]" -style="[[style]]" vertical="[[vertical]]"
        inset="[[inset]]"></v-divider>

    <!--------------------------  XUI-SPACER-1   ---------------------------->
    <xui-doc xid="xui-spacer-1">
        <xui-prop id="name">Spacer</xui-prop>
        <xui-prop id="icon">mdi-arrow-up-down mdi-rotate-90</xui-prop>
        <xui-prop id="desc">Une Spacer</xui-prop>
        <xui-prop id="componentAs">spacer</xui-prop>
    </xui-doc>

    <v-spacer xid="xui-spacer-1"></v-spacer>

    <xui-design xui-mode="template;design" xid="inject-style">
        <style xui-no-dom>
            .spacer {
                min-height: 20px;
            }
        </style>
    </xui-design>

    <!--------------------------  XUI-BREADCRUMBS-1   ---------------------------->
    <xui-doc xid="xui-breadcrumbs-1">
        <xui-prop id="name">Breadcrumbs</xui-prop>
        <xui-prop id="icon">mdi-chevron-triple-right</xui-prop>
        <xui-prop id="desc">Une fil d'ariane</xui-prop>
        <xui-prop id="componentAs">spacer</xui-prop>
        <xui-prop var=":items" editor="var" cat="event:bind" bind-type="array">var items</xui-prop>
        <xui-prop var="divider" editor="text">divider</xui-prop>
    </xui-doc>

    <v-breadcrumbs xid="xui-breadcrumbs-1"
         :items="[[:items]]"
        divider="[[divider]]">
    </v-breadcrumbs>

    <!--------------------------  XUI-LIST-ITEM   ------------------------->
    <xui-doc xid="xui-list-item-1">
        <xui-prop id="name">List Item</xui-prop>
        <xui-prop id="icon">mdi-view-list</xui-prop>
        <xui-prop id="desc">Un item de list</xui-prop>
        <xui-prop id="componentAs">text</xui-prop>

        <xui-prop var="withAvatar" editor="bool">avatar</xui-prop>
        <xui-prop var="withIconEnd" editor="bool">icon at end</xui-prop>
    </xui-doc>

    <v-list-item xid="xui-list-item-1">

        <v-list-item-avatar xui-if="[[withAvatar@1]]">
            <xui-image-1 xid="[[parent-xid]]-avatar" xui-slot-name="Avatar"
                xui-url="https://cdn.vuetifyjs.com/images/john.png"></xui-image-1>
        </v-list-item-avatar>

        <!--v-list-item-action>
              <v-checkbox
                color="primary"
                @click=""
              ></v-checkbox>
        </v-list-item-action-->

        <!--v-list-item-action>
                <v-list-item-action-text v-text="item.action"></v-list-item-action-text>
                <v-icon
                  v-if="!active"
                  color="grey lighten-1"
                >
                  star_border
                </v-icon>

                <v-icon
                  v-else
                  color="yellow"
                >
                  star
                </v-icon>
        </v-list-item-action-->


        <v-list-item-content>
            <v-list-item-title>
                <xui-title-1 xid="[[parent-xid]]-title"></xui-title-1>
            </v-list-item-title>
            <v-list-item-subtitle xui-if="[[two-line@0+]]">
                <xui-title-1 xid="[[parent-xid]]-subtitle1"></xui-title-1>
            </v-list-item-subtitle>
            <v-list-item-subtitle xui-if="[[three-line@0+]]">
                <xui-title-1 xid="[[parent-xid]]-subtitle2"></xui-title-1>
            </v-list-item-subtitle>
        </v-list-item-content>

        <v-list-item-icon xui-if="[[withIconEnd@1]]">
            <v-icon>mdi-message-text</v-icon>
        </v-list-item-icon>

    </v-list-item>

</xui-factory>