<xui-factory version="1.0">

    <!--------------------------  XUI-LIST   ------------------------------->
    <xui-doc xid="xui-list">
        <xui-prop id="name">List</xui-prop>
        <xui-prop id="icon">mdi-format-list-text</xui-prop>
        <xui-prop id="desc">Une Liste</xui-prop>
        <xui-prop id="componentAs">container</xui-prop>
        <xui-prop id="favorite">listitem</xui-prop>
        <xui-prop id="exclude">container</xui-prop>
        <xui-prop id="add-remove">incNb</xui-prop>

        <xui-prop var="nb" def="3" editor="int">nb de slots</xui-prop>

        <xui-prop var="dense" editor="bool">dense</xui-prop>
        <xui-prop var="subheader" editor="bool">with subheader (no top margin)</xui-prop>
        <xui-prop var="two-line" editor="bool">two line</xui-prop>
        <xui-prop var="three-line" editor="bool">three line</xui-prop>

        <xui-prop var="shaped" editor="bool">shaped</xui-prop>
        <xui-prop var="rounded" editor="bool">rounded</xui-prop>
        <xui-prop var="flat" editor="bool">flat</xui-prop>
        <xui-prop var="nav" editor="bool">nav</xui-prop>
        <xui-prop var="tile" def="false" editor="bool">tile ? ()</xui-prop>

        <xui-prop var="color-bg" cat="color" editor="text">color background</xui-prop>
        <xui-prop var="color-sel" cat="color" editor="text">color selected</xui-prop>
        <xui-prop var="dark" cat="style" editor="bool">on dark</xui-prop>
        <xui-prop var="light" cat="style" editor="bool">on light</xui-prop>


        <xui-prop var="class" cat="class" editor="class">class</xui-prop>
        <xui-prop var="style" cat="style" editor="style">style</xui-prop>
    </xui-doc>


    <v-list xid="xui-list" xui-for="idxr" class="[[class]]" -style="[[style]]" two-line="[[two-line]]"
        three-line="[[three-line]]" subheader="[[subheader]]" dense="[[dense]]" shaped="[[shaped]]"
        rounded="[[rounded]]" flat="[[flat]]" nav="[[nav]]" tile="[[tile]]" color="[[color-bg]]" dark="[[dark]]"
        light="[[light]]">
        <v-list-item-group color="[[color-sel@1]]">
            <xui-slot xid="[[parent-xid]]-list-[[idxr@3]]" xui-slot-name="List row [[idxr@3]]"></xui-slot>
        </v-list-item-group>
    </v-list>


    <!--------------------------  XUI-GRID-LAYOUT   ------------------------------->
    <xui-doc xid="xui-grid-layout-1">
        <xui-prop id="name">Grid Layout</xui-prop>
        <xui-prop id="desc">Une colonne</xui-prop>
        <xui-prop id="icon">mdi-view-dashboard-variant</xui-prop>
        <xui-prop id="componentAs">container</xui-prop>

        <xui-prop var="cols" editor="text">cols (1fr auto 100%)</xui-prop>
        <xui-prop var="rows" editor="text">rows (1fr auto 100%)</xui-prop>
        <xui-prop var="area" def="'c0 c1'" editor="text">area (ex: 'c0 c1' 'c2 c1' 'c3 .')</xui-prop>


        <xui-prop var="nb" def="2" editor="int">nb de cellules</xui-prop>
        <xui-prop var="fill-height" editor="bool">fill height</xui-prop>

        <xui-prop var="class" cat="class" editor="class">class</xui-prop>
        <xui-prop var="style" cat="style" editor="style">style (ex: height:100%)</xui-prop>
    </xui-doc>

    <xui-doc xid="div:xui-grid-layout-1">
        <xui-prop id="name">Grid cell</xui-prop>
        <xui-prop id="desc">Une cellue</xui-prop>

        <xui-prop var="class" cat="class" editor="class">class</xui-prop>
        <xui-prop var="style" cat="style" editor="style">style (ex: height:100%)</xui-prop>
    </xui-doc>

    <div xid="xui-grid-layout-1" xui-for="idxc" class="xui-grid-layout [[fill-height]] [[class]]"
        -style="grid-template-rows:[[rows]];grid-template-columns:[[cols]];grid-template-areas:[[area]];[[style]]">
        <div -style="display:content;grid-area:c[[idxc@1]];[[style@-1]]" class="[[class@-1]]">
            <xui-slot style-slot="height:100%" xid="[[parent-xid]]-col-[[idxc@0+]]"
                xui-slot-name="layout cell c[[idxc@0+]]">
            </xui-slot>
        </div>
    </div>

    <xui-design xid="inject-style">
        <style xui-no-dom>
            .xui-grid-layout {
                display: grid;
                width: 100%;
            }
        </style>
    </xui-design>

    <!--------------------------  XUI-ROW   ------------------------------->
    <xui-doc xid="xui-row-1">
        <xui-prop id="name">Row responsive</xui-prop>
        <xui-prop id="desc">Une ligne</xui-prop>
        <xui-prop id="icon">mdi-table-row</xui-prop>
        <xui-prop id="componentAs">container</xui-prop>

        <xui-prop var="nb" def="1" editor="int">nb col dans la ligne</xui-prop>
        <xui-prop var="fill-height" editor="bool">fill height</xui-prop>

        <xui-prop var="justify" cat="vstyle" editor="combo" 
            list='["start", "center", "end", "space-between", "space-around"]'
        > justify (horiz.)</xui-prop>
        <xui-prop var="align" cat="vstyle" editor="combo" 
            list='["start", "center", "end", "baseline", "stretch"]'>align cell (vert.)</xui-prop>
        <xui-prop var="align-content" cat="vstyle" editor="combo"
            list='["start", "center", "end", "space-between", "space-around", "stretch"]'>align content (vert.)</xui-prop>

        <xui-prop var="class" cat="class" editor="class">class</xui-prop>
        <xui-prop var="style" cat="style" editor="style">style (ex: height:100%)</xui-prop>
    </xui-doc>

    <xui-doc xid="v-col:xui-row-1">
        <xui-prop id="name">Row Cell</xui-prop>
        <xui-prop id="desc">Une cellule</xui-prop>
        <xui-prop var="cols" editor="text">Larg. de col (1-12/auto)</xui-prop>
        <xui-prop var="class" cat="class" editor="class">class</xui-prop>
        <xui-prop var="style" cat="style" editor="style">style</xui-prop>
        <xui-prop var=":varitems" cat="event:model" editor="var" bind-type="array">items var name</xui-prop>
    </xui-doc>

    <v-row xid="xui-row-1" class="[[fill-height]] [[class]]" xui-for="idxc" -style="[[style]]" no-gutters
        -align="[[align]]" align-content="[[align-content]]" justify="[[justify]]">
        <v-col class="[[class@-1]]" -style="[[style@-1]]" cols="[[cols@-1]]"  if:[[:varitems@-1]]:v-for="([[:varitems@-1]]_item, [[:varitems@-1]]_index) in [[:varitems@-1]]">
            <xui-slot xid="[[parent-xid]]-col-[[idxc@3]]" style-slot="height:100%" xui-slot-name="row col [[idxc@3]]">
            </xui-slot>
        </v-col>
    </v-row>

    <!--------------------------  XUI-COLUMN-RESPONSIVE   ------------------------------->
    <xui-doc xid="xui-column-responsive-1">
        <xui-prop id="name">Column responsive</xui-prop>
        <xui-prop id="desc">Une colonne</xui-prop>
        <xui-prop id="icon">mdi-table-column</xui-prop>
        <xui-prop id="componentAs">container</xui-prop>

        <xui-prop var="nb" def="2" editor="int">nb row dans la colonne</xui-prop>
        <xui-prop var="fill-height" editor="bool">fill height</xui-prop>

        <xui-prop var="justify" cat="vstyle" editor="combo" list='["start", "center", "end", "space-between", "space-around"]'
        >justify (vert.)</xui-prop>
        <xui-prop var="align" cat="vstyle" editor="combo" list='["start", "center", "end", "baseline", "stretch"]'
        >align cell (horiz.)</xui-prop>
        <xui-prop var="align-content" cat="vstyle" editor="combo"
            list='["start", "center", "end", "space-between", "space-around", "stretch"]'
            >align content (horiz.)</xui-prop>

        <xui-prop var="class" cat="class" editor="class">class</xui-prop>
        <xui-prop var="style" cat="style" editor="style">style (ex: height:100%)</xui-prop>
    </xui-doc>

    <xui-doc xid="v-col:xui-column-responsive-1">
        <xui-prop id="name">Column Cell</xui-prop>
        <xui-prop id="desc">Une cellule</xui-prop>
        <xui-prop var="cols" editor="text">Haut. de row (1-12/auto)</xui-prop>
        <xui-prop var="class" cat="class" editor="class">class</xui-prop>
        <xui-prop var="style" cat="style" editor="style">style</xui-prop>
    </xui-doc>

    <v-row xid="xui-column-responsive-1" class="flex-column  [[fill-height]] [[class]]" xui-for="idxc"
        -style="flex-direction: column;[[style]]" no-gutters -align="[[align]]" align-content="[[align-content]]"
        justify="[[justify]]">
        <v-col class="xui-column [[class@-1]]" -style="[[style@-1]]" cols="[[cols@-1]]">
            <xui-slot xid="[[parent-xid]]-col-[[idxc@3]]" style-slot="height:100%" xui-slot-name="col rol [[idxc@3]]">
            </xui-slot>
        </v-col>
    </v-row>

    <xui-design xid="inject-style">
        <style xui-no-dom>
            .xui-column {
                max-width: 100% !important;
            }
        </style>
    </xui-design>

    <!--------------------------  XUI-GRID   ------------------------------->
    <xui-doc xid="xui-grid-responsive">
        <xui-prop id="name">Grid responsive</xui-prop>
        <xui-prop id="icon">mdi-apps</xui-prop>
        <xui-prop id="desc">Une grille</xui-prop>
        <xui-prop id="componentAs">container</xui-prop>

        <xui-prop var="nb" def="2" editor="int">nb de lignes</xui-prop>
        <xui-prop var="fill-height" editor="bool">fill height</xui-prop>
        <xui-prop var="fluid" editor="bool">fluid (fill width)</xui-prop>
        <xui-prop var="dense" cat="vstyle" editor="bool">dense gutters</xui-prop>
        <xui-prop var="no-gutters" cat="vstyle" editor="bool">no gutters</xui-prop>

        <xui-prop var="class" cat="class" editor="class">class</xui-prop>
        <xui-prop var="style" cat="style" editor="style">style</xui-prop>
    </xui-doc>

    <xui-doc xid="xui-row-grid-responsive">
        <xui-prop id="name">Grid Row</xui-prop>
        <xui-prop id="desc">Une ligne</xui-prop>
        <xui-prop var="nb" editor="int">nb col dans la ligne</xui-prop>

        <xui-prop var="justify" cat="vstyle" editor="combo" 
        list='["start", "center", "end", "space-between", "space-around"]'
        >justify (horiz.)</xui-prop>

        <xui-prop var="align" cat="vstyle" editor="combo" 
        list='["start", "center", "end", "baseline", "stretch"]'
        >align cell (vert.)</xui-prop>

        <xui-prop var="align-content" cat="vstyle" editor="combo"
            list='["start", "center", "end", "space-between", "space-around", "stretch"]'
        >align content (vert.)</xui-prop>

        <xui-prop var="class" cat="class" editor="class">class</xui-prop>
        <xui-prop var="style" cat="style" editor="style">style (ex: height:100%)</xui-prop>
    </xui-doc>

    <xui-doc xid="v-col:xui-row-grid-responsive">
        <xui-prop id="name">Grid Cell</xui-prop>
        <xui-prop id="desc">Une cellule</xui-prop>
        <xui-prop var="cols" editor="text">Larg. de col (1-12/auto)</xui-prop>
        <xui-prop var="class" cat="class" editor="class">class</xui-prop>
        <xui-prop var="style" cat="style" editor="style">style</xui-prop>
    </xui-doc>

    <v-container xid="xui-grid-responsive" fluid=[[fluid]] fill-height=[[fill-height]] class="xui-grid [[class]]"
        -style="[[style]]" xui-for="idxr">
        <v-row class="[[class@-1]]" -style="[[style@-1]]" no-gutters="[[no-gutters@1]]" dense="[[dense@1]]"
            -align="[[align@-1]]" align-content="[[align-content@-1]]" justify="[[justify@-1]]">
            <xui-row-grid-responsive xid="[[parent-xid]]-row-[[idxr@2]]" xui-nb="2" xui-slot-name="row [[idxr@2]]">
            </xui-row-grid-responsive>
        </v-row>
    </v-container>

    <xui-slot xid="xui-row-grid-responsive" xui-for="idxc">
        <v-col class="[[class@-1]]" -style="[[style@-1]]" cols="[[cols@-1]]">
            <xui-slot xid="[[parent-xid]]-col-[[idxc@3]]" style-slot="height:100%"
                xui-slot-name="r[[idxr@5]] c[[idxc@3]]"></xui-slot>
        </v-col>
    </xui-slot>

    <xui-design xid="inject-style">
        <style xui-no-dom>
            .xui-grid {
                max-width: unset;
            }
        </style>
    </xui-design>

    <!--------------------------  XUI-FORM   ------------------------------->
    <xui-doc class="xui-form" xid="xui-form-1">
        <xui-prop id="name">Form</xui-prop>
        <xui-prop id="icon">mdi-format-columns</xui-prop>
        <xui-prop id="desc">Un formulaire</xui-prop>
        <xui-prop id="componentAs">container</xui-prop>

        <xui-prop var="nb" def="3" editor="int">nb de lignes</xui-prop>
        <xui-prop var="class" cat="class" editor="class">class</xui-prop>
        <xui-prop var="style" cat="style" editor="style">style</xui-prop>
    </xui-doc>

    <xui-doc xid="xui-form-row-1">
        <xui-prop id="name">Form Row</xui-prop>
        <xui-prop id="desc">Une ligne</xui-prop>
        <xui-prop var="nb" editor="int">nb col dans la ligne</xui-prop>
        <xui-prop var="class" cat="class" editor="class">class</xui-prop>
        <xui-prop var="style" cat="style" editor="style">style</xui-prop>
    </xui-doc>

    <xui-doc xid="v-col:xui-form-row-1">
        <xui-prop id="name">Form Cell</xui-prop>
        <xui-prop id="desc">Une cellule</xui-prop>
        <xui-prop var="cols" editor="text">Larg. de col (1-12/auto)</xui-prop>
        <xui-prop var="class" cat="class" editor="class">class</xui-prop>
        <xui-prop var="style" cat="style" editor="style">style</xui-prop>
    </xui-doc>

    <v-container xid="xui-form-1" xui-for="idxr" fuild class="xui-form [[class]]" -style="[[style]]">
        <v-row class="xui-form-gutter [[class@-1]]" -style="[[style@-1]]">
            <xui-form-row-1 xid="[[parent-xid]]-row-[[idxr@2]]" xui-nb="1" xui-slot-name="row [[idxr@2]]">
            </xui-form-row-1>
        </v-row>
    </v-container>

    <xui-slot xid="xui-form-row-1" xui-for="idxc">
        <v-col class="[[class@-1]]" -style="[[style@-1]]" cols="[[cols@-1]]">
            <xui-slot xid="[[parent-xid]]-col-[[idxc@3]]" xui-slot-name="row [[idxr@5]] col [[idxc@3]]"></xui-slot>
        </v-col>
    </xui-slot>

    <xui-design xid="inject-style">
        <style xui-no-dom>
            .xui-form-gutter>.col,
            .xui-form-gutter>[class*=col-] {
                padding: 5px 6px;
            }

            .xui-form .v-text-field input {
                line-height: 14px;
                font-size: 0.9rem;
            }
        </style>
    </xui-design>

    <!-------------------------- XUI-TABS -------------------------------->
    <xui-doc xid="xui-tabs">
        <xui-prop id="name">Tabs</xui-prop>
        <xui-prop id="icon">mdi-tab</xui-prop>
        <xui-prop id="desc">Des onglets</xui-prop>
        <xui-prop id="componentAs">container</xui-prop>

        <xui-prop var="nb" def="3" editor="int">Nb tab(s)</xui-prop>
        <xui-prop var="fill-height" editor="bool">fill height</xui-prop>
        <xui-prop var="vertical" editor="bool">vertical</xui-prop>
        <xui-prop var="tabs-dense" cat="vstyle" editor="bool">dense</xui-prop>

        <xui-prop var="color" cat="vstyle" editor="text">color</xui-prop>
        <xui-prop var="background-color" cat="vstyle" editor="text">background color</xui-prop>
        <xui-prop var="slider-color" cat="vstyle" editor="text">slider color</xui-prop>
        <xui-prop var="dark" cat="vstyle" editor="bool">on dark</xui-prop>
        <xui-prop var="light" cat="vstyle" editor="bool">on light</xui-prop>

        <xui-prop var="icons-and-text" editor="bool">stack icon and text vertically</xui-prop>
        <xui-prop var="show-arrows" editor="bool">show arrows</xui-prop>
        <xui-prop var="center-active" editor="bool">center tab active</xui-prop>

        <xui-prop var="fixed-tabs" editor="bool">fixed tabs</xui-prop>
        <xui-prop var="centered" editor="bool">centered</xui-prop>
        <xui-prop var="right" editor="bool">right</xui-prop>

        <xui-prop var="height-tabs" def="48px" editor="text">height tabs (48px, 100%)</xui-prop>

        <xui-prop var=":modelTab" cat="event:model" editor="text" bind-type="int">var model</xui-prop>
        <xui-prop var="@change" cat="event:elem" editor="text">Change</xui-prop>

        <xui-prop var="class" cat="class" editor="class">class</xui-prop>
        <xui-prop var="style" cat="style" editor="style">style</xui-prop>
    </xui-doc>

    <xui-doc xid="v-tab:xui-tabs">
        <xui-prop id="favorite">text;icon;composer</xui-prop>
        <xui-prop id="exclude">container</xui-prop>
        <xui-prop id="include"></xui-prop>
        <xui-prop id="add-remove">incNb</xui-prop>

        <xui-prop id="name">Tab</xui-prop>
        <xui-prop id="desc">Titre de l'onglet</xui-prop>
        <xui-prop var="@click" cat="event:elem" editor="text">Click</xui-prop> 
        <xui-prop var="@change" cat="event:elem" editor="text">Change</xui-prop>
        <xui-prop var="ref" cat="event:ref" editor="text">Ref</xui-prop>
    </xui-doc>

    <xui-doc xid="v-tab-item:xui-tabs">
        <xui-prop id="name">Tab item</xui-prop>
        <xui-prop id="desc">Contenu de l'onglet</xui-prop>
        <xui-prop id="favorite">container</xui-prop>
        <xui-prop id="icon">mdi-tab-unselected</xui-prop>
        <xui-prop var="colorBgItem" cat="vstyle" editor="text">background color</xui-prop>
    </xui-doc>

    <v-tabs xid="xui-tabs" class="xui-tabs [[fill-height]] [[tabs-dense]] [[class]]" height="[[height-tabs]]"
        -style="--xui-tab-h:[[height-tabs]];[[style]]" vertical=[[vertical]] dark="[[dark]]"
        light="[[light]]" color="[[color]]" background-color="[[background-color]]" slider-color="[[slider-color]]"
        icons-and-text="[[icons-and-text]]" show-arrows="[[show-arrows]]" fixed-tabs="[[fixed-tabs]]"
        centered="[[centered]]" right="[[right]]" center-active="[[center-active]]" [[event]] v-model=[[:modelTab]] xui-for="idx">
        <v-tab [[event@-1]] ref=[[ref@-1]]>
            <xui-slot xui-reloader=true xid="[[parent-xid]]-tab-[[idx@0+]]" xui-slot-name="tab [[idx@0+]]"></xui-slot>
        </v-tab>
        <!--v-tab-item :transition="false" :reverse-transition="false" eager-->
        <v-tab-item eager -style="background-color:[[colorBgItem@-1]]">
            <!-- eager  desactive le lazyloading -->
            <xui-slot xui-reloader=true xid="[[parent-xid]]-tab-item-[[idx@0+]]" style-slot="height:100%"
                xui-slot-name="tab content [[idx@0+]]" xui-topath="click:[[parent-xid]]-tab-[[idx@0+]]">
            </xui-slot>
        </v-tab-item>
    </v-tabs>

    <!-------------------------------- V-TOOLBAR ---------------------------->
    <xui-doc xid="xui-toolbar-1">
        <xui-prop id="name">Toolbar</xui-prop>
        <xui-prop id="desc">Toolbar</xui-prop>
        <xui-prop id="componentAs">container</xui-prop>
        <xui-prop id="icon">mdi-drag-horizontal-variant</xui-prop>

        <xui-prop var="HeaderDense" def="false" editor="bool">dense</xui-prop>
        <xui-prop var="HeaderFlat" cat="vstyle" def="false" editor="bool">flat</xui-prop>
        <xui-prop var="color" cat="vstyle" editor="text">color</xui-prop>
        <xui-prop var="dark" cat="vstyle" editor="bool">dark</xui-prop>
        <xui-prop var="light" cat="vstyle" editor="bool">light</xui-prop>
        <xui-prop var="src" cat="vstyle" editor="image">url background image</xui-prop>
        <xui-prop var="HeaderHeight" editor="int">Custom height (px)</xui-prop>

        <xui-prop var="class" cat="class" editor="class">class</xui-prop>
        <xui-prop var="style" cat="style" editor="style">style</xui-prop>
    </xui-doc>

    <v-toolbar xid="xui-toolbar-1" src="[[src]]" flat="[[HeaderFlat]]" height="[[HeaderHeight]]" dense="[[HeaderDense]]"
        color="[[color]]" dark="[[dark]]" light="[[light]]" class="[[class]]" -style="[[style]]">
        <xui-slot xid="[[parent-xid]]-content" style-slot="width:100%" xui-slot-name="toolbar content"
            xui-doc-id="toolbarContent"></xui-slot>
    </v-toolbar>

    <!-------------------------------- V-CARD ---------------------------->
    <xui-doc xid="xui-card-1">
        <xui-prop id="name">Card</xui-prop>
        <xui-prop id="icon">mdi-smart-card</xui-prop>
        <xui-prop id="desc">Une Card</xui-prop>
        <xui-prop id="componentAs">container</xui-prop>

        <xui-prop var="height" def="80px" editor="text">Header height (px, auto)</xui-prop>
        <xui-prop var="withTitle" editor="bool">With title</xui-prop>
        <xui-prop var="withAction" editor="bool">With action slot</xui-prop>

        <xui-prop var="directive" editor="text">directive</xui-prop>

        <xui-prop var="class" cat="class" editor="class">class</xui-prop>
        <xui-prop var="style" cat="style" editor="style">style</xui-prop>

    </xui-doc>

    <xui-doc xid="CardText">
        <xui-prop id="name">Card content</xui-prop>
        <xui-prop var="class" cat="class" editor="class">class</xui-prop>
        <xui-prop var="style" cat="style" editor="style">style</xui-prop>
        <xui-prop id="icon">mdi-content-duplicate</xui-prop>
    </xui-doc>

    <xui-doc xid="CardContent">
        <xui-prop id="name">Card content slot</xui-prop>
    </xui-doc>

    <v-card-title xid="xui-card-title" xui-slot-name="Card Title Container" class="[[class]]" -style="[[style]]"
        xui-doc-id="CardTitleContainer">
        <xui-slot xid="[[parent-xid]]-title" xui-slot-name="Card Title" xui-doc-id="CardTitle"></xui-slot>
    </v-card-title>

    <v-card-text xid="xui-card-text" xui-doc-id="CardText"
            class="[[class]]" -style="[[style]]">
            <xui-slot xid="[[parent-xid]]-main" xui-slot-name="Card Content" xui-doc-id="CardContent">
            </xui-slot>
    </v-card-text>

    <v-card xid="xui-card-1" [[directive]] v-ripple="{ center: false, class: 'black--text' }" xui-for="idxc" class="[[class]]"
        -style="[[style]]">
            <xui-image-1 xid="[[parent-xid]]-CardImage" xui-slot-name="CardImage"
                height="[[height@1]]">
                <xui-card-title xid="[[parent-xid]]-titlec" xui-if="[[withTitle@2]]">
                </xui-card-title>
            </xui-image-1>
            <!--v-img src="[[url@1]]" class="white--text align-end"
            height="[[height@1]]">
            <v-card-title>
                <xui-slot xid="[[parent-xid]]-card-title" xui-slot-name="Card Title"  xui-doc-id="CardTitle"></xui-slot>
            </v-card-title>
        </v-img-->
            <xui-card-text xid="[[parent-xid]]-card"></xui-card-text>
            <v-card-actions xui-if="[[withAction@1]]">
                <xui-slot xid="[[parent-xid]]-card-actions" xui-slot-name="Card Actions" xui-doc-id="CardAction">
                </xui-slot>
            </v-card-actions>
    </v-card>

    <!--------------------------  XUI-TREEVIEW   ----------------------------->
    <xui-doc xid="xui-treeview">
        <xui-prop id="name">Treeview</xui-prop>
        <xui-prop id="icon">mdi-file-tree</xui-prop>
        <xui-prop id="desc">Un block</xui-prop>
        <xui-prop id="componentAs">container</xui-prop>
        <xui-prop id="favorite">listitem</xui-prop>
        <xui-prop id="exclude">container</xui-prop>

        <xui-prop var=":varItems" editor="var" def="items" bind-type="array">items var name</xui-prop>
    </xui-doc>

    <v-treeview xid="xui-treeview" dense :open-all="true" :transition="true" :items="[[:varItems]]">
        <template v-slot:prepend="{ item }">
            <v-icon>
              mdi-account
            </v-icon>
          </template>
    </v-treeview>



</xui-factory>